body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.ui-widget {
    font-size: 12px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #ffffff;
    cursor: inherit;
}

#loading-indicator-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2040;
    background-color: #000;
    opacity: 0.5;
}

#loading-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff url('../images/ajax-loader.gif') no-repeat center center;
    z-index: 2050;
    width: 200px;
    height: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.table tbody > tr > td {
    line-height: 22px;
}

.table tbody > tr > td.text {
    padding: 12px 8px;
}

.table td.check,
.table th.check {
    vertical-align: middle;
    text-align: center;
    width: 40px;
}

.pagination-container {
    font-size: 0;
    text-align: center;
}

.pagination {
    font-size: 14px;
    margin: 0;
}

.drop-shadow {
    -webkit-box-shadow: 2px 2px 10px rgba(204, 204, 204, 1);
    box-shadow: 2px 2px 10px rgba(204, 204, 204, 1);
}

.login-panel {
    width: 471px;
    margin: 0 auto;
}

.login-panel .login-panel-top {
    background: transparent url('../images/login_top_bg.jpg') no-repeat left top;
    height: 84px;
}

.login-panel .panel {
    margin: 0 auto;
    width: 461px;
}

.navbar-brand {
    background: transparent url('../images/logo_title.png') no-repeat left center;
    width: 135px;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-default .navbar-link {
    color: #0088cc;
}

.navbar-default .navbar-link:hover {
    color: #005580;
}

.navbar-default .site-preview {
    margin-left: 15px;
}

.navbar-default .navbar-nav > .active > a {
    background: none no-repeat;
    box-shadow: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #08c;
    background-color: transparent;
}

.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

#menu-edit-lists ul,
#menu-edit-lists ol {
    list-style-type: none;
}

#menu-edit-lists ol.sortable {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 20px 0 0 0;
    padding: 8px 15px;
    background-color: #F5F5F5;
}

#menu-edit-lists ol.not-sortable {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 8px 15px;
    background-color: #F5F5F5;
}

#menu-edit-lists ol.not-sortable > li,
#menu-edit-lists ol.sortable > li {
    display: block;
}

#menu-edit-lists ol.sortable > li > ol > li {
    display: block;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li {
    display: block;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li > ol > li {
    display: block;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li > ol > li > ol li {
    display: block;
}

#menu-edit-lists li > div {
    border: 1px solid #aaa;
    margin: 2px;
    background: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
}

#menu-edit-lists li > div.editing {
    color: black;
    font-weight: bold;
    background: #fff url('../images/famfamfam/link_edit.png') no-repeat 98% 50%;
    border: 1px solid #555;
}

#menu-edit-lists li.new > div,
#menu-edit-lists li.new > div:hover {
    background: #efffef url('../images/famfamfam/link_add.png') no-repeat 98% 50%;

}

#menu-edit-lists li.new > div:hover,
#menu-edit-lists li.new > div.editing {
    border: 1px solid #00a650;
}

#menu-edit-lists li > div:hover {
    background: #fff url('../images/famfamfam/link_edit.png') no-repeat 98% 50%;
    border: 1px solid #0069D6;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.sortable li.placeholder {
    position: relative;
    display: block;
    border: 1px solid #bbb;
    margin: 2px;
    height: 24px;
    background: #eee;
    border-radius: 4px;
}

.slider-list .item,
.gallery-list .item {
    margin-bottom: 20px;
}

.slider-list .item .thumbnail,
.gallery-list .item .thumbnail {
    margin-bottom: 0;
}

.slider-list .item .thumbnail .photo,
.gallery-list .item .thumbnail .photo {
    width: 100%;
}

.slider-list .item .thumbnail .photo img,
.gallery-list .item .thumbnail .photo img {
    display: block;
    width: 100%;
}

.slider-list .placeholder,
.gallery-list .placeholder {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border 0.2s ease-in-out 0s;
    margin: 0 15px 20px 15px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.slider-list .item .slider-title {
    height: 1em;
}

.form-horizontal .checkbox label,
.form-horizontal .checkbox-inline label,
.form-horizontal .radio label,
.form-horizontal .radio-inline label {
    font-weight: 400;
}

.opcje a {
    color: #333333;
}

.opcje a:hover {
    text-decoration: none;
    color: #0088cc;
}
