{% extends '::frontend.html.twig' %}

{% block title %}Oferta - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Oferta</h1>
        <div class="page-content">
            <div class="page-top">
                <div class="title">{{ entity.title }}</div>
            </div>
            <div class="page-text">
                {% if entity.getPhotoDetailWebPath != null %}
                    <div class="photo">
                        <img src="{{ entity.getThumbDetailWebPath('detail') }}?{{ random(10000) }}" />
                    </div>
                {% endif %}
                {{ entity.content|raw }}
            </div>
            {% if entity.gallery %}
                {% include "LsGalleryBundle:Front:page_gallery.html.twig" with {'gallery': entity.gallery} %}
            {% endif %}
        </div>
        <div class="page-contact">
            <div class="top">
                <div class="bar"></div>
                <div class="header">Zobacz również</div>
                <div class="offer-list-right">
                    {% for offer in entities %}
                        <div class="item">
                            <a href="{{ path('ls_offer_show', {'slug': offer.slug}) }}"{% if offer.slug == entity.slug %} class="current"{% endif %}>
                                <img class="big" src="{{ offer.getIconVioletBigWebPath() }}?{{ random(10000) }}" />
                                <img class="small" src="{{ offer.getIconVioletSmallWebPath() }}?{{ random(10000) }}" />
                                <div class="title">{{ offer.title }}</div>
                            </a>
                        </div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                <a class="contact" href="{{ path('ls_contact') }}">Zapisz się na wizytę</a>
            </div>
            <div class="separator"></div>
            <div class="info">
                <div class="phone">
                    <div class="normal">{{ cms_config.get('contact_phone', '') }}</div>
                    <div class="cellphone"><span>kom.</span> {{ cms_config.get('contact_cellphone', '') }}</div>
                </div>
                <div class="address">{{ cms_config.get('contact_address', '') }}</div>
                <div class="hours">
                    <div class="header">Godziny otwarcia</div>
                    <div class="value">
                        <div class="day">pon - pt</div>
                        <div class="hour">{{ cms_config.get('contact_opening_hours_1', '') }}</div>
                    </div>
                    <div class="value">
                        <div class="day">sobota</div>
                        <div class="hour">{{ cms_config.get('contact_opening_hours_2', '') }}</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <a href="{{ path('ls_contact') }}" class="medium">Kliknij i zapisz się na wizytę</a>
                <a href="{{ path('ls_contact') }}" class="small">Zapisz się na wizytę</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}