<!DOCTYPE html>
<html>
<head>
    <script src="https://use.typekit.net/nij1yqx.js"></script>
    <script>
        try {
            Typekit.load({async: true});
        } catch (e) {
        }
    </script>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/common/jquery-ui-1.11.4/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/common/fancybox-1.3.4/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/common/qtip-2.2.1/jquery.qtip.min.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/front/css/editor.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/lscore/front/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}" />
    {{ cms_config.get('facebook_pixel', '')|raw }}
</head>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuMobile = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_mobile'}) %}
{% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}
{% if currentRoute == 'ls_core_homepage' %}
    {% set bodyclass = 'main' %}
{% else %}
    {% set bodyclass = '' %}
{% endif %}
<body class="{{ bodyclass }}">
<div id="content-wrapper">
    <div id="menu-mobile-container">
        <div class="top">
            <div class="inner">
                <div class="close hide-menu"></div>
            </div>
        </div>
        {{ knp_menu_render(menuMobile) }}
    </div>
    <header>
        <div class="content">
            <a href="{{ path('ls_core_homepage') }}" class="logo"></a>
            {{ knp_menu_render(menuTop) }}
            <div class="show-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="content">
            <div class="top">
                <div class="bar"></div>
            </div>
            <div class="middle">
                <div class="menu">
                    {{ knp_menu_render(menuBottom) }}
                </div>
                <div class="social">
                    <div class="title">Znajdź nas na:</div>
                    {% if cms_config.get('url_youtube', '')|length > 0 %}
                        <a href="{{ cms_config.get('url_youtube', '#') }}" class="youtube"></a>
                    {% endif %}
                    {% if cms_config.get('url_facebook', '')|length > 0 %}
                        <a href="{{ cms_config.get('url_facebook', '#') }}" class="facebook"></a>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom">
                <div class="copyright">
                    <span>© Copyrights 2016.</span>
                    <span>Wszelkie prawa zastrzeżone przez <a href="{{ url('ls_core_homepage') }}">Dental Studio</a></span>
                </div>
                <div class="implementation">
                    <span>Projekt i realizacja:</span>
                    <a href="http://www.lemonadestudio.pl"></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/lscore/common/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/jquery.cycle2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/fancybox-1.3.4/jquery.fancybox-1.3.4-patched.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/style.js') }}" type="text/javascript"></script>
{% endblock %}
{{ cms_config.get('google_analytics', '')|raw }}
</body>
</html>
