{% extends '::frontend.html.twig' %}

{% block title %}Galeria - {{ parent() }}{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Galeria</h1>
        <div class="gallery-list">
            {% include "LsGalleryBundle:Front:list.html.twig" with {'entities': entities} %}
        </div>
    </div>
{% endblock %}