{% for entity in entities %}
    <a class="item" href="{{ path('ls_gallery_show', {'slug': entity.slug}) }}">
        <div class="photo">
            <img src="{{ entity.photos.first().getThumbWebPath('detail') }}" />
        </div>
        <div class="rest">
            <div class="title">{{ entity.title }}</div>
        </div>
        <div class="bottom">
            <div class="inner"></div>
        </div>
    </a>
{% endfor %}
<div class="clear"></div>
