<div class="clear"></div>
<div class="page-gallery">
    {% for photo in gallery.photos %}
        {% if photo.getPhotoWebPath != null %}
            <a href="{{ photo.getPhotoWebPath() }}" class="photo fancybox" rel="gallery">
                <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" />
            </a>
        {% endif %}
    {% endfor %}
    <div class="clear"></div>
</div>
