{% extends '::frontend.html.twig' %}

{% block title %}Galeria - {{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="page-title">Galeria</div>
        <div class="page-content">
            <div class="page-top">
                <h1 class="title">{{ entity.title }}</h1>
            </div>
            <div class="gallery">
                {% for photo in entity.photos %}
                    {% if photo.getPhotoWebPath != null %}
                        <a href="{{ photo.getPhotoWebPath() }}" class="photo fancybox" rel="gallery">
                            <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" />
                        </a>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
        <div class="page-contact">
            <div class="top no-bottom">
                <div class="bar"></div>
                <div class="header">Pozostałe galerie</div>
                <div class="galleries-list">
                    {% for gallery in galleries %}
                        <div class="link">
                            <a href="{{ path('ls_gallery_show', {'slug': gallery.slug}) }}"{% if gallery.slug == entity.slug %} class="current"{% endif %}>{{ gallery.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}