{% extends '::frontend.html.twig' %}

{% block title %}Aktualności - {{ parent() }}{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Aktualności</h1>
        <div class="news-list">
            <div class="news-feed">
                {% include "LsNewsBundle:Front:list.html.twig" with {'entities': entities} %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var news_loading = false;
        var news_loading_page = 1;
        var news_loading_allow = {{ allow }};

        $(window).scroll(function () {
            if ($(window).scrollTop() > ($(document).height() - $(window).height() - $('footer').outerHeight() - 50)) {
                if (news_loading_allow == true && news_loading == false) {
                    news_loading = true;
                    $.ajax({
                        type: 'post',
                        url: '{{ path('ls_news_ajax_more') }}',
                        data: {
                            page: news_loading_page
                        },
                        success: function (response) {
                            news_loading_page++;
                            news_loading_allow = response.allow;
                            $(".news-feed").append(response.html);
                            news_loading = false;
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}

