{% for article in entities %}
    <a class="item" href="{{ path('ls_news_show', {'slug': article.slug}) }}">
        {% if article.getPhotoWebPath != null %}
            <div class="photo">
                <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}" />
            </div>
        {% endif %}
        <div class="rest">
            <div class="date">{{ article.publishedat|date('d.m.Y') }}</div>
            <div class="title">{{ article.title }}</div>
        </div>
        <div class="bottom">
            <div class="inner"></div>
        </div>
    </a>
{% endfor %}
