{% extends '::frontend.html.twig' %}

{% block title %}Nasz zespół - {{ parent() }}{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Nasz zespół</h1>
        <div class="team-list">
            {% include "LsPersonBundle:Front:list.html.twig" with {'entities': entities} %}
        </div>
    </div>
{% endblock %}