{% for entity in entities %}
    <div class="item">
        <img class="photo" src="{{ entity.getThumbWebPath('detail') }}" alt="" />
        <div class="info">
            <div class="title">{{ entity.title }}</div>
            <div class="name">{{ entity.name }}</div>
            <div class="text">{{ entity.content|raw }}</div>
            <div class="bottom"></div>
            <div class="buttons">
                <div class="show-person">Więcej</div>
                <div class="hide-person">Mniej</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endfor %}
<div class="clear"></div>
