{% extends '::frontend.html.twig' %}

{% block content %}
    <section class="slider">
        <div id="main-slider" class="view">
            {% for slide in slider %}
                <div class="slide">
                    <div class="photo full" style="background: transparent url('{{ slide.getThumbWebPath('full') }}') no-repeat center top; background-size: auto 100%;"></div>
                    <div class="photo middle" style="background: transparent url('{{ slide.getThumbWebPath('middle') }}') no-repeat center top;"></div>
                    <div class="photo small" style="background: transparent url('{{ slide.getThumbWebPath('small') }}') no-repeat center top;"></div>
                    <div class="content">
                        <div class="title">
                            <div class="text">{{ slide.title }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="main-slider-pager-container">
            <div class="content">
                <div class="main-slider-pager"></div>
            </div>
        </div>
    </section>

    <section class="main-content">
        <div class="content">
            <div class="main-offer">
                {% for offer in offers %}
                    <div class="item">
                        <a href="{{ path('ls_offer_show', {'slug': offer.slug}) }}">
                            <div class="big">
                                <img src="{{ offer.getIconVioletBigWebPath() }}?{{ random(10000) }}" />
                                <div class="title">{{ offer.title }}</div>
                            </div>
                            <div class="small">
                                <div class="icon">
                                    <img src="{{ offer.getIconVioletSmallWebPath() }}?{{ random(10000) }}" />
                                </div>
                                <div class="title">{{ offer.title }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="clear"></div>
                <div class="buttons">
                    <a href="{{ path('ls_offer') }}" class="more-offers item">
                        <span>Wszystkie kategorie</span>
                    </a>
                    <a href="{{ path('ls_price_list') }}" class="more-offers item">
                        <span>Cennik usług</span>
                    </a>
                </div>
            </div>
            <div class="main-news">
                {% if news|length > 0 %}
                    <div class="header">Aktualności</div>
                    {% for article in news %}
                        {% if loop.first %}
                            <div class="item first">
                                {% if article.getPhotoWebPath != null %}
                                    <a href="{{ path('ls_news_show', {'slug': article.slug}) }}" class="photo">
                                        <img src="{{ article.getThumbWebPath('list') }}?{{ random(10000) }}" />
                                    </a>
                                {% endif %}
                                <div class="rest">
                                    <div class="date">{{ article.publishedat|date('d.m.Y') }}</div>
                                    <a href="{{ path('ls_news_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>

                                    <div class="text">{{ article.contentshort }}</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="other">
                        {% else %}
                            <div class="item">
                                <div class="date">{{ article.publishedat|date('d.m.Y') }}</div>
                                <a href="{{ path('ls_news_show', {'slug': article.slug}) }}" class="title">{{ article.title }}</a>
                            </div>
                        {% endif %}
                        {% if loop.last %}
                            <a href="{{ path('ls_news') }}" class="more-news">
                                <span>Wszystkie aktualności</span>
                            </a>
                            </div>
                        {% endif %}
                        <div class="clear"></div>
                    {% endfor %}
                    <div class="item wide-banner">
                        <a class="main" style="background: url('bundles/lscore/front/images/baner.jpg')" href="{{ path('ls_page_show', {'slug': medycyna.slug}) }}">
                            <img src="{{ asset('bundles/lscore/front/images/moustache.png') }}" alt="{{ medycyna.title }}" />
                            <a href="{{ path('ls_page_show', {'slug': medycyna.slug}) }}" class="title">{{ medycyna.title }}</a>
                        </a>
                    </div>
                    <div class="clear"></div>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <section class="main-contact">
        <div class="content">
            <div class="top">
                <div class="bar"></div>
            </div>
            <div class="info">
                <div class="phone">
                    <div class="inside">
                        <div class="normal">{{ cms_config.get('contact_phone', '') }}</div>
                        <div class="cellphone"><span>kom.</span> {{ cms_config.get('contact_cellphone', '') }}</div>
                    </div>
                </div>
                <div class="address">
                    <div class="inside">{{ cms_config.get('contact_address', '') }}</div>
                </div>
                <div class="hours">
                    <div class="inside">
                        <div class="header">Godziny otwarcia</div>
                        <div class="value">
                            <div class="day">pon - pt</div>
                            <div class="hour">{{ cms_config.get('contact_opening_hours_1', '') }}</div>
                        </div>
                        <div class="value">
                            <div class="day">sobota</div>
                            <div class="hour">{{ cms_config.get('contact_opening_hours_2', '') }}</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="links">
                <a href="{{ path('ls_contact') }}" class="medium">Kliknij i zapisz się na wizytę</a>
                <a href="{{ path('ls_contact') }}" class="small">Zapisz się na wizytę</a>
            </div>
            <div class="clear"></div>
        </div>
    </section>

    <div id="map" class="map-main"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://maps.google.com/maps/api/js" type="text/javascript"></script>
    <script type="text/javascript">
        var map = {
            address: '',
            cords: null,
            geocoder: null,
            mapOptions: null,
            object: null
        };

        function initialize() {
            map.address = '{{ cms_config.get('contact_address', '') }}';

            map.geocoder = new google.maps.Geocoder();
            map.mapOptions = {
                zoom: 14,
                panControl: false,
                zoomControl: true,
                scrollwheel: false,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map.object = new google.maps.Map(document.getElementById('map'), map.mapOptions);

            map.geocoder.geocode({
                'address': map.address
            }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    map.cords = results[0].geometry.location;

                    map.object.setCenter(map.cords);

                    new google.maps.Marker({
                        position: map.cords,
                        map: map.object,
                        icon: '{{ asset('bundles/lscore/front/images/marker.png') }}',
                        title: '{{ cms_config.get('contact_firm_name_top', '') }} {{ cms_config.get('contact_firm_name_bottom', '') }}'
                    });
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        google.maps.event.addDomListener(window, 'resize', function () {
            map.object.setCenter(map.cords);
        });
    </script>
{% endblock %}
