html, body {
  font-family: "anago", sans-serif;
  font-weight: $font_book;
  color: $font_dark_gray;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  box-sizing: border-box;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.ui-widget {
  font-size: 12px;
}

#content-wrapper {
  position: relative;
  overflow: hidden;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
