.contact {
  .team {
    background: transparent url('../images/contact_team_bg.jpg') no-repeat top left;
    -webkit-border-top-left-radius: 34px;
    -webkit-border-top-right-radius: 34px;
    -moz-border-radius-topleft: 34px;
    -moz-border-radius-topright: 34px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    position: relative;
    height: 558px;
    width: 300px;

    a {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c21bf3+0,e40b76+100 */
      background: #c21bf3 url('../images/contact_team_link.png') no-repeat left top; /* Old browsers */
      background: url('../images/contact_team_link.png') no-repeat left top, -moz-linear-gradient(left, #c21bf3 0%, #e40b76 100%); /* FF3.6-15 */
      background: url('../images/contact_team_link.png') no-repeat left top, -webkit-linear-gradient(left, #c21bf3 0%, #e40b76 100%); /* Chrome10-25,Safari5.1-6 */
      background: url('../images/contact_team_link.png') no-repeat left top, linear-gradient(to right, #c21bf3 0%, #e40b76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21bf3', endColorstr='#e40b76', GradientType=1), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/contact_team_link.png', sizingMethod='crop'); /* IE6-9 */
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      text-transform: uppercase;
      font-weight: $font_bold;
      padding: 45px 0 0 142px;
      text-decoration: none;
      position: absolute;
      line-height: 27px;
      font-size: 22px;
      color: #ffffff;
      cursor: pointer;
      display: block;
      height: 97px;
      width: 158px;
      bottom: 0;
    }
  }

  .right {
    .info {
      .data {
        padding: 0 10px 0 40px;
        width: 270px;

        .name-top {
          font-weight: $font_bold;
          line-height: 24px;
          font-size: 21px;
        }

        .name-bottom {
          font-weight: $font_bold;
          padding: 0 0 42px 0;
          line-height: 24px;
          font-size: 20px;
          color: $font_pink;
        }

        .phone {
          background: transparent url('../images/contact_phone.png') no-repeat left top;
          padding: 12px 0 0 68px;
          height: 74px;

          .normal {
            font-weight: $font_bold;
            line-height: 22px;
            font-size: 22px;
            color: $font_pink;
          }

          .cellphone {
            font-weight: $font_bold;
            line-height: 20px;
            font-size: 18px;

            span {
              font-weight: $font_medium;
              font-size: 14px;
            }
          }
        }

        .address {
          background: transparent url('../images/contact_address.png') no-repeat left top;
          font-weight: $font_medium;
          padding: 11px 0 0 68px;
          line-height: 23px;
          font-size: 16px;
          height: 75px;
        }

        .hours {
          background: transparent url('../images/contact_hours.png') no-repeat left top;
          padding: 10px 0 0 68px;
          height: 80px;

          .header {
            font-weight: $font_bold;
            padding-bottom: 10px;
            line-height: 24px;
            font-size: 18px;
          }

          .value {
            font-weight: $font_medium;
            height: 23px;

            .day {
              line-height: 23px;
              font-size: 14px;
              width: 64px;
              float: left;
            }

            .hour {
              line-height: 23px;
              font-size: 16px;
              float: left;
            }
          }
        }
      }

      .associate {
        padding: 0 10px 0 40px;
        width: 270px;

        .header {
          font-weight: $font_bold;
          padding-bottom: 18px;
          line-height: 24px;
          font-size: 18px;
        }

        img {
          margin-right: 10px;
          display: block;
          float: left;
        }
      }
    }

    .form {
      padding: 0 30px;

      .header {
        padding: 0 10px 36px 10px;
        font-weight: $font_bold;
        line-height: 24px;
        font-size: 21px;
      }

      .form-row {
        padding-bottom: 15px;

        .form-field {
          box-sizing: border-box;
          padding: 0 10px;

          label {
            font-weight: $font_medium;
            line-height: 30px;
            font-size: 14px;
            display: block;
          }

          .form-widget {
            position: relative;

            input,
            textarea {
              font-family: "anago", sans-serif;
              -webkit-border-radius: 22px;
              -moz-border-radius: 22px;
              border-radius: 22px;
              border: 2px solid #b7b7b7;
              box-sizing: border-box;
              font-weight: $font_bold;
              line-height: 18px;
              font-size: 12px;
              outline: none;
              width: 100%;
            }

            input {
              padding: 11px 0 10px 0;
              text-align: center;
            }

            textarea {
              padding: 11px 28px 10px 28px;
              height: 159px;
              resize: none;
            }

            input:hover,
            input:focus {
              padding: 10px 0 9px 0;
              border: 3px solid #f1296f;
            }

            textarea:hover,
            textarea:focus {
              padding: 10px 27px 9px 27px;
              border: 3px solid #f1296f;
            }

            .ui-datepicker-trigger {
              background: transparent url("../images/calendar.png") no-repeat top left;
              border: none;
              cursor: pointer;
              height: 18px;
              width: 16px;
              text-indent: -99999px;
              position: absolute;
              right: 15px;
              top: 12px;
            }
          }
        }

        &.two-columns {
          .form-field {
            float: left;
            width: 50%;
          }
        }

        .form-buttons {
          text-align: center;
          padding-top: 3px;

          button {
            outline: none;
            background-color: #ffffff;
            font-family: "anago", sans-serif;
            text-transform: uppercase;
            -webkit-border-radius: 22px;
            -moz-border-radius: 22px;
            border-radius: 22px;
            border: 3px solid #f1296f;
            padding: 10px 27px 9px 27px;
            font-weight: $font_bold;
            display: inline-block;
            line-height: 18px;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.map {
  height: 329px;
  width: 100%;
}
