footer {
  .top {
    height: 10px;

    .bar {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
      background: #b612d4; /* Old browsers */
      background: -moz-linear-gradient(left,  #b612d4 0%, #ed07cf 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #b612d4 0%,#ed07cf 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #b612d4 0%,#ed07cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b612d4', endColorstr='#ed07cf',GradientType=1 ); /* IE6-9 */
      height: 10px;
    }
  }

  .middle {
    .menu {
      ul {
        list-style: none;
      }

      #menu-bottom {
        vertical-align: top;

        li {
          line-height: 20px;
          display: block;
          width: 170px;
          float: left;

          a {
            text-transform: uppercase;
            font-weight: $font_bold;
            vertical-align: bottom;
            display: inline-block;
            text-decoration: none;
            line-height: 20px;
            font-size: 14px;
            color: $font_dark_gray;
          }

          ul {
            padding-top: 16px;

            li {
              padding: 3px 0 4px 0;
              line-height: 18px;
              width: 100%;
              float: none;

              a {
                font-weight: $font_medium;
                text-transform: none;
                line-height: 18px;
                font-size: 12px;
                color: $font_light_gray;

                &:hover {
                  color: $font_dark_gray;
                }
              }
            }
          }
        }
      }
    }

    .social {
      font-size: 0;

      .title {
        text-transform: uppercase;
        font-weight: $font_bold;
        line-height: 20px;
        font-size: 14px;
      }

      .youtube {
        background: transparent url('../images/youtube.png') no-repeat left top;
        vertical-align: bottom;
        display: inline-block;
        margin-left: 11px;
        height: 41px;
        width: 41px;

        &:hover {
          background-position: left bottom;
        }
      }

      .facebook {
        background: transparent url('../images/facebook.png') no-repeat left top;
        vertical-align: bottom;
        display: inline-block;
        margin-left: 11px;
        height: 41px;
        width: 41px;

        &:hover {
          background-position: left bottom;
        }
      }
    }
  }

  .bottom {
    .copyright {
      font-weight: $font_book;
      line-height: 26px;
      font-size: 12px;
      color: $font_light_gray;

      a {
        font-weight: $font_medium;
        color: $font_pink;
      }
    }

    .implementation {
      font-weight: $font_book;
      line-height: 26px;
      font-size: 12px;
      color: $font_medium_gray;

      a {
        background: transparent url('../images/footer_lemo.png') no-repeat left top;
        vertical-align: middle;
        display: inline-block;
        height: 22px;
        width: 65px;
      }
    }
  }
}
