#menu-mobile-container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #f1296f;
  position: absolute;
  z-index: 9999;
  width: 320px;

  .top {
    border-bottom: 5px solid #d7165a;
    height: 133px;

    .inner .close {
      background: transparent url('../images/menu_mobile_close.png') no-repeat left top;
      margin: 51px 59px 0 0;
      cursor: pointer;
      float: right;
      height: 34px;
      width: 35px;
    }
  }

  #menu-mobile {
    list-style: none;
    padding: 24px 0;

    li a {
      -webkit-border-bottom-right-radius: 22px;
      -webkit-border-top-right-radius: 22px;
      -moz-border-radius-bottomright: 22px;
      -moz-border-radius-topright: 22px;
      border-bottom-right-radius: 22px;
      border-top-right-radius: 22px;
      padding: 0 35px 0 40px;
      text-transform: uppercase;
      font-weight: $font_bold;
      display: inline-block;
      line-height: 44px;
      font-size: 18px;
      cursor: pointer;
      color: #ffffff;
    }

    li.current a,
    li a:hover {
      background-color: #ffffff;
      text-decoration: none;
      color: $font_dark_gray;
    }
  }
}

body.main #menu-mobile-container .top {
  border-bottom: none;
}

header {
  border-bottom: 5px solid $border_light_gray;
  height: 133px;
  width: 100%;

  .content {
    position: relative;

    .logo {
      background: transparent url('../images/logo.png') no-repeat left top;
      margin: 35px 0 0 29px;
      cursor: pointer;
      display: block;
      height: 57px;
      width: 132px;
      float: left;
    }

    #menu-top {
      padding: 46px 0 0 0;
      list-style: none;
      float: right;

      li {
        padding: 0 5px;
        float: left;

        a {
          text-transform: uppercase;
          line-height: 46px;
          font-weight: $font_bold;
          font-size: 14px;
          padding: 0 24px;
          cursor: pointer;
          display: block;
          color: $font_dark_gray;
        }
      }

      li.current a,
      li a:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d048f8+0,f6469c+100 */
        background: #d048f8; /* Old browsers */
        background: -moz-linear-gradient(left,  #d048f8 0%, #f6469c 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #d048f8 0%,#f6469c 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #d048f8 0%,#f6469c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d048f8', endColorstr='#f6469c',GradientType=1 ); /* IE6-9 */
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
        border-radius: 19px;
        text-decoration: none;
        color: #ffffff;
      }
    }

    .show-menu {
      margin: 30px 30px 0 0;
      border: 6px solid $border_light_gray;
      padding: 18px 11px 12px 11px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      cursor: pointer;
      float: right;
      height: 33px;
      width: 41px;

      .icon-bar {
        background-color: $font_dark_gray;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 5px;
        display: block;
        width: 41px;
        height: 6px;
      }
    }
  }
}

body.main header {
  border-bottom: none;
}
