.slider {
  position: relative;
  width: 100%;

  .view {
    width: 100%;

    .slide {
      position: relative;
      width: 100%;

      .photo {
        position: absolute;
        width: 100%;
        top: 0;
      }

      .content {
        position: relative;
      }
    }
  }

  .main-slider-pager-container {
    position: absolute;
    width: 100%;
    top: 0;

    .content {
      position: relative;

      .main-slider-pager {
        position: absolute;
        z-index: 999;

        .pager-item {
          padding: 5px 13px;
          float: left;

          .circle {
            background-color: #630070;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            cursor: pointer;
            height: 8px;
            width: 8px;
          }

          &:hover {
            padding: 2px 10px;

            .circle {
              background-color: #ffffff;
              height: 14px;
              width: 14px;
            }
          }
        }

        .cycle-pager-active {
          padding: 0 8px;

          .circle {
            background-color: #ffffff;
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }
}

.main-content {
  .main-offer {
    .item {
      padding: 0 10px 20px 10px;
      float: left;

      a {
        text-decoration: none;
        background-color: $border_light_gray;
        -webkit-border-radius: 34px;
        -moz-border-radius: 34px;
        border-radius: 34px;
        cursor: pointer;
        display: block;
        padding: 10px;

        .big {
          color: $font_dark_gray;
          background-color: #ffffff;
          -webkit-border-radius: 24px;
          -moz-border-radius: 24px;
          border-radius: 24px;
          padding-top: 44px;
          height: 152px;
          width: 280px;

          img {
            margin: 0 auto;
            display: block;
          }

          .title {
            font-weight: $font_bold;
            text-align: center;
            padding-top: 18px;
            line-height: 25px;
            font-size: 24px;
          }
        }

        .small {
          text-decoration: none;
          color: $font_dark_gray;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          display: table;
          height: 46px;
          width: auto;
          padding: 0;

          .icon {
            display: table-cell;
            padding-right: 22px;

            img {
              display: block;
            }
          }

          .title {
            vertical-align: middle;
            font-weight: $font_medium;
            display: table-cell;
            line-height: 22px;
            text-align: left;
            font-size: 19px;
            height: 46px;
            padding: 0;
          }
        }

        &:hover {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
          background: #c31bf3; /* Old browsers */
          background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1); /* IE6-9 */
        }
      }
    }

    .buttons {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          a {
              min-width: 211px;
          }
      .more-offers {
        display: inline-block;
        text-decoration: none;
        background-color: $border_light_gray;
        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        border-radius: 21px;
        line-height: 36px;
        height: 36px;
        padding: 5px;

        span {
          color: $font_dark_gray;
          font-weight: $font_bold;
          text-transform: uppercase;
          background-color: #ffffff;
          -webkit-border-radius: 16px;
          -moz-border-radius: 16px;
          border-radius: 16px;
          padding: 0 19px;
          display: block;
        }

        &:hover {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
          background: #c31bf3; /* Old browsers */
          background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1); /* IE6-9 */
        }
      }
    }
  }

  .main-news {
      .wide-banner {
          background: #eaeaea;
          border-radius: 34px;
          padding: 10px !important;
          height: 196px;
          position: relative;
          z-index: 1001;
          &:hover {
              background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%)
          }
          a {
              &.main {
                  border-radius: 24px;
                  background-size: 90%;
                  background-position: center center;
                  display: block;
                  height: 100%;
                  width: 100%;
                  img {
                      display: block;
                      margin: 0 auto;
                      padding-top: 70px;
                  }
              }
              &.title {
                  font: {
                      size: 24px;
                      weight: 700;
                  }
                  bottom: 28%;
                  margin: auto;
                  left: 0;
                  text-align: center;
                  position: absolute;
                  z-index: 1002;
                  width: 100%;
              }
          }
      }
    .header {
      font-weight: $font_bold;
      line-height: 50px;
      font-size: 40px;
    }

    .item {
      padding: 0 0 15px 30px;

      .photo {
        text-decoration: none;
        display: block;
        float: left;

        img {
          border: 10px solid $border_light_gray;
          -webkit-border-radius: 34px;
          -moz-border-radius: 34px;
          border-radius: 34px;
          display: block;
        }
      }

      .date {
        font-weight: $font_medium;
        color: $font_light_gray;
        line-height: 22px;
        font-size: 10px;
      }

      .title {
        font-weight: $font_medium;
        color: $font_dark_gray;
        display: inline-block;
        text-decoration: none;
        line-height: 20px;
        font-size: 18px;
      }

      .rest {
        padding: 40px 0 0 50px;
        width: 270px;
        float: left;

        .date {
          color: $font_violet;
          line-height: 30px;
          font-size: 14px;
        }

        .title {
          font-weight: $font_bold;
          line-height: 28px;
          font-size: 26px;
        }

        .text {
          color: $font_light_gray;
          padding-top: 16px;
          line-height: 18px;
          font-size: 15px;
        }
      }

      &.first {
        padding: 0 0 44px 0;
      }
    }

    .more-news {
      margin: 21px 0 0 30px;
      display: inline-block;
      text-decoration: none;
      background-color: $border_light_gray;
      -webkit-border-radius: 21px;
      -moz-border-radius: 21px;
      border-radius: 21px;
      line-height: 36px;
      height: 36px;
      padding: 5px;

      span {
        color: $font_dark_gray;
        font-weight: $font_bold;
        text-transform: uppercase;
        background-color: #ffffff;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        padding: 0 19px;
        display: block;
      }

      &:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
        background: #c31bf3; /* Old browsers */
        background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1); /* IE6-9 */
      }
    }
  }
}

.main-contact {
  .top {
    height: 10px;

    .bar {
      background-color: $border_light_gray;
      height: 10px;
    }
  }

  .info {
    position: relative;

    .phone {
      .inside {
        background: transparent url('../images/contact_phone.png') no-repeat left top;
        padding: 12px 0 0 68px;
        height: 74px;

        .normal {
          font-weight: $font_bold;
          line-height: 22px;
          font-size: 22px;
          color: $font_pink;
        }

        .cellphone {
          font-weight: $font_bold;
          line-height: 20px;
          font-size: 18px;

          span {
            font-weight: $font_medium;
            font-size: 14px;
          }
        }
      }
    }

    .address {
      .inside {
        background: transparent url('../images/contact_address.png') no-repeat left top;
        font-weight: $font_medium;
        padding: 11px 0 0 68px;
        line-height: 23px;
        font-size: 16px;
        height: 75px;
      }
    }

    .hours {
      .inside {
        background: transparent url('../images/contact_hours.png') no-repeat left top;
        padding: 10px 0 0 68px;
        height: 80px;

        .header {
          font-weight: $font_bold;
          padding-bottom: 10px;
          line-height: 24px;
          font-size: 18px;
        }

        .value {
          font-weight: $font_medium;
          height: 23px;

          .day {
            line-height: 23px;
            font-size: 14px;
            width: 64px;
            float: left;
          }

          .hour {
            line-height: 23px;
            font-size: 16px;
            float: left;
          }
        }
      }
    }
  }

  .links {
    .medium {
      background: transparent url('../images/page_contact_link_medium.jpg') no-repeat left top;
      border: 10px solid $border_light_gray;
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      padding: 8px 0 0 212px;
      font-weight: $font_medium;
      text-decoration: none;
      line-height: 135px;
      font-size: 24px;
      color: #ffffff;
      cursor: pointer;
      display: block;
      height: 135px;
      width: 388px;

      &:hover {
        border: 10px solid $border_pink;
      }
    }

    .small {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c21bf3+0,e40b76+100 */
      background: #c21bf3 url('../images/page_contact_link_small.png') no-repeat left top; /* Old browsers */
      background: url('../images/page_contact_link_small.png') no-repeat left top, -moz-linear-gradient(left, #c21bf3 0%, #e40b76 100%); /* FF3.6-15 */
      background: url('../images/page_contact_link_small.png') no-repeat left top, -webkit-linear-gradient(left, #c21bf3 0%, #e40b76 100%); /* Chrome10-25,Safari5.1-6 */
      background: url('../images/page_contact_link_small.png') no-repeat left top, linear-gradient(to right, #c21bf3 0%, #e40b76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21bf3', endColorstr='#e40b76', GradientType=1), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/page_contact_link_small.png', sizingMethod='crop'); /* IE6-9 */
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      text-transform: uppercase;
      font-weight: $font_bold;
      padding: 35px 30px 0 142px;
      text-decoration: none;
      line-height: 27px;
      font-size: 22px;
      color: #ffffff;
      cursor: pointer;
      display: block;
      height: 87px;
      width: 128px;
    }
  }
}

.map-main {
  height: 329px;
  width: 100%;
}
.main-offer-btn {
    width: 290px !important;
    &:before {
        width: 300px !important;
    }
    a {
        width: 290px !important;
    }
    
}