.news-list {
  .news-feed {
    .item {
      margin: 0 10px 20px 10px;
      text-decoration: none;
      position: relative;
      display: block;
      width: 300px;
      float: left;

      .photo {
        background-color: $border_light_gray;
        -webkit-border-radius: 34px;
        -moz-border-radius: 34px;
        border-radius: 34px;
        overflow: hidden;
        cursor: pointer;
        display: block;
        padding: 10px;

        img {
          -webkit-border-radius: 24px;
          -moz-border-radius: 24px;
          border-radius: 24px;
          display: block;
        }
      }

      .rest {
        position: relative;
        padding: 0 30px;
        height: 153px;
        z-index: 2;

        .date {
          font-weight: $font_medium;
          color: $font_violet;
          padding-top: 29px;
          line-height: 29px;
          font-size: 15px;
        }

        .title {
          font-weight: $font_bold;
          color: $font_dark_gray;
          line-height: 24px;
          font-size: 18px;
        }
      }

      .bottom {
        background-color: $border_light_gray;
        -webkit-border-bottom-right-radius: 34px;
        -webkit-border-bottom-left-radius: 34px;
        -moz-border-radius-bottomright: 34px;
        -moz-border-radius-bottomleft: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
        padding: 0 10px 10px 10px;
        position: absolute;
        z-index: 1;
        bottom: 0;

        .inner {
          -webkit-border-bottom-right-radius: 24px;
          -webkit-border-bottom-left-radius: 24px;
          -moz-border-radius-bottomright: 24px;
          -moz-border-radius-bottomleft: 24px;
          border-bottom-right-radius: 24px;
          border-bottom-left-radius: 24px;
          background-color: #ffffff;
          height: 24px;
          width: 280px;
        }
      }

      &:hover {
        .photo,
        .bottom {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
          background: #c31bf3; /* Old browsers */
          background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1); /* IE6-9 */
        }
      }
    }
  }
}
