.offer-list {
  margin: 0 -10px;

  .item {
    border: 10px solid $border_light_gray;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    margin: 0 10px 20px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    height: 196px;
    float: left;

    .narrow {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
    }

    .wide {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
    }

    .mask {
      position: absolute;
      display: block;
      height: 196px;
      left: 0;
      top: 0;
    }

    .info {
      padding-top: 44px;
      text-align: center;
      position: absolute;
      display: block;
      right: 0;
      left: 0;
      top: 0;

      img {
        margin: 0 auto;
        display: block;
      }

      .text {
        font-weight: $font_medium;
        padding-top: 17px;
        line-height: 25px;
        font-size: 24px;
        color: #ffffff;
      }
    }

    &:hover {
      border: 10px solid $border_pink;
    }
  }
}
.price-table {
    ul {
        padding: {
            top: 0;
        }
        width: 100%;
        li {
            font: {
                size: 15px;
            }
            position: relative;
            padding: 10px 0;
            z-index: 1001;
            &:before {
                display: none;
            }
            &:after {
                background: url("../images/dotted-border.png") no-repeat;
                background-position: center center;
                background-size: cover;
                bottom: 0;
                content: "";
                display: block;
                left: 0;
                height: 2px;
                position: absolute;
                width: 100%;
                z-index: 1002;
            }
            &:first-child {
                padding: {
                    top: 0;
                }
            }
            .price {
                color: $font-violet;
                font: {
                    size: 20px;
                }
                max-width: 50%;
            }
        }
    }
}
.btn-container {
    $border-radius: 25px;
    height: 40px;
    width: 160px;
    margin: 20px auto 0;
    position: relative;
    z-index: 1001;
    &:hover:before {
        background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%);
    }
    .grey-rounded-btn {
        border-radius: $border-radius;
        background: #fff;
        color: #3f3f3f;
        display: block;
        font: {
            size: 14px;
            weight: 700;
        }
        line-height: 40px;
        left: 5px;
        right: 0;
        margin: auto;
        top: 5px;
        padding: 0;
        text-transform: uppercase;
        text-align: center;
        width: 160px;
        position: absolute;
        z-index: 1003;
        &:hover {
            color: #3f3f3f;
            text-decoration: none;
        }
    }
    &:before {
        border-radius: $border-radius;
        background: #e1e1e1;
        content: "";
        display: block;
        left: 0;
        top: 0;
        height: 50px;
        position: absolute;
        z-index: 1001;
        width: 170px;
    }
}