.page-content {
  position: relative;

  .page-text {
    .photo {
      padding: 10px;
      margin: 0 -30px 20px 20px;
      background-color:  $border_light_gray;
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      overflow: hidden;
      float: right;

      img {
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border-radius: 24px;
        display: block;
      }
    }
  }

  .gallery,
  .page-gallery {
    .photo {
      padding: 10px;
      margin: 0 10px 20px 10px;
      background-color: $border_light_gray;
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      overflow: hidden;
      cursor: pointer;
      display: block;
      float: left;

      img {
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        border-radius: 24px;
        display: block;
      }

      &:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
        background: #c31bf3; /* Old browsers */
        background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1); /* IE6-9 */
      }
    }
  }
}

.page-contact {
  .top {
    padding-bottom: 142px;
    position: relative;
    width: 300px;

    .news-list {
      .item {
        padding: 0 0 14px 30px;

        .date {
          font-weight: $font_medium;
          color: $font_light_gray;
          line-height: 18px;
          font-size: 10px;
        }

        .title {
          font-weight: $font_medium;
          color: $font_dark_gray;
          text-decoration: none;
          line-height: 24px;
          font-size: 18px;
        }
      }
    }

    .galleries-list {
      position: relative;

      .link {
        padding: 9px 0 9px 30px;

        a {
          font-weight: $font_medium;
          vertical-align: bottom;
          display: inline-block;
          text-decoration: none;
          line-height: 22px;
          font-size: 18px;
          color: $font_dark_gray;

          &.current,
          &:hover {
            color: $font_violet;
          }
        }
      }
    }

    .offer-list-right {
      .item {
        padding: 13px 20px 13px 30px;

        a {
          border: none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          color: $font_dark_gray;
          text-decoration: none;
          cursor: pointer;
          display: table;
          height: 46px;
          width: auto;
          padding: 0;

          .big {
            display: none;
          }

          .small {
            margin-right: 22px;
            display: block;
            float: left;
          }

          .title {
            vertical-align: middle;
            font-weight: $font_medium;
            display: table-cell;
            line-height: 22px;
            text-align: left;
            font-size: 19px;
            padding: 0;
          }

          &.current,
          &:hover {
            color: $font_violet;
          }
        }
      }
    }

    .contact {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c21bf3+0,e40b76+100 */
      background: #c21bf3 url('../images/page_contact_link.png') no-repeat left top; /* Old browsers */
      background: url('../images/page_contact_link.png') no-repeat left top, -moz-linear-gradient(left, #c21bf3 0%, #e40b76 100%); /* FF3.6-15 */
      background: url('../images/page_contact_link.png') no-repeat left top, -webkit-linear-gradient(left, #c21bf3 0%, #e40b76 100%); /* Chrome10-25,Safari5.1-6 */
      background: url('../images/page_contact_link.png') no-repeat left top, linear-gradient(to right, #c21bf3 0%, #e40b76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21bf3', endColorstr='#e40b76', GradientType=1), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/page_contact_link.png', sizingMethod='crop'); /* IE6-9 */
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      text-transform: uppercase;
      font-weight: $font_bold;
      padding: 45px 30px 0 142px;
      text-decoration: none;
      position: absolute;
      line-height: 27px;
      font-size: 22px;
      color: #ffffff;
      cursor: pointer;
      display: block;
      height: 97px;
      width: 128px;
      bottom: 0;
    }

    &.page-top {
      background: transparent url('../images/page_contact_bg.jpg') no-repeat top left;
      -webkit-border-top-left-radius: 34px;
      -webkit-border-top-right-radius: 34px;
      -moz-border-radius-topleft: 34px;
      -moz-border-radius-topright: 34px;
      border-top-left-radius: 34px;
      border-top-right-radius: 34px;
      padding-bottom: 0;
      height: 558px;
    }
  }

  .info {
    .phone {
      background: transparent url('../images/contact_phone.png') no-repeat left top;
      padding: 12px 0 0 68px;
      height: 74px;

      .normal {
        font-weight: $font_bold;
        line-height: 22px;
        font-size: 22px;
        color: $font_pink;
      }

      .cellphone {
        font-weight: $font_bold;
        line-height: 20px;
        font-size: 18px;

        span {
          font-weight: $font_medium;
          font-size: 14px;
        }
      }
    }

    .address {
      background: transparent url('../images/contact_address.png') no-repeat left top;
      font-weight: $font_medium;
      padding: 11px 0 0 68px;
      line-height: 23px;
      font-size: 16px;
      height: 75px;
    }

    .hours {
      background: transparent url('../images/contact_hours.png') no-repeat left top;
      padding: 10px 0 0 68px;
      height: 80px;

      .header {
        font-weight: $font_bold;
        padding-bottom: 10px;
        line-height: 24px;
        font-size: 18px;
      }

      .value {
        font-weight: $font_medium;
        height: 23px;

        .day {
          line-height: 23px;
          font-size: 14px;
          width: 64px;
          float: left;
        }

        .hour {
          line-height: 23px;
          font-size: 16px;
          float: left;
        }
      }
    }
  }

  .bottom {
    .medium {
      background: transparent url('../images/page_contact_link_medium.jpg') no-repeat left top;
      border: 10px solid $border_light_gray;
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      padding: 8px 0 0 212px;
      font-weight: $font_medium;
      text-decoration: none;
      line-height: 135px;
      font-size: 24px;
      color: #ffffff;
      cursor: pointer;
      display: block;
      height: 135px;
      width: 388px;

      &:hover {
        border: 10px solid $border_pink;
      }
    }

    .small {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c21bf3+0,e40b76+100 */
      background: #c21bf3 url('../images/page_contact_link_small.png') no-repeat left top; /* Old browsers */
      background: url('../images/page_contact_link_small.png') no-repeat left top, -moz-linear-gradient(left, #c21bf3 0%, #e40b76 100%); /* FF3.6-15 */
      background: url('../images/page_contact_link_small.png') no-repeat left top, -webkit-linear-gradient(left, #c21bf3 0%, #e40b76 100%); /* Chrome10-25,Safari5.1-6 */
      background: url('../images/page_contact_link_small.png') no-repeat left top, linear-gradient(to right, #c21bf3 0%, #e40b76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21bf3', endColorstr='#e40b76', GradientType=1), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/page_contact_link_small.png', sizingMethod='crop'); /* IE6-9 */
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      text-transform: uppercase;
      font-weight: $font_bold;
      padding: 35px 30px 0 142px;
      text-decoration: none;
      line-height: 27px;
      font-size: 22px;
      color: #ffffff;
      cursor: pointer;
      display: block;
      height: 87px;
      width: 128px;
    }
  }
}
