@media (max-width: 659px) {
  .content {
    width: 300px;
  }

  #content-wrapper {
    overflow: visible;
  }

  #menu-mobile-container {
    width: 100%;
    right: 0;
  }

  #menu-mobile-container.visible {
    top: 0 !important;
  }

  #menu-mobile-container .top {
    height: 99px;
  }

  #menu-mobile-container .top .inner {
    margin: 0 auto;
    width: 300px;
  }

  #menu-mobile-container .top .inner .close {
    margin: 33px 34px 0 0;
  }

  #menu-mobile-container #menu-mobile {
    padding: 21px 0 61px 0;
  }

  #menu-mobile-container #menu-mobile li {
    text-align: center;
    width: 100%;
  }

  #menu-mobile-container #menu-mobile li a {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    padding: 0 45px;
  }

  header {
    height: 99px;
  }

  header .content .logo {
    background: transparent url('../images/logo_mobile.png') no-repeat left top;
    margin: 27px 0 0 19px;
    height: 46px;
    width: 106px;
  }

  header .content #menu-top {
    display: none;
  }

  header .content .show-menu {
    padding: 13px 10px 8px 10px;
    margin: 19px 20px 0 0;
    border: 5px solid $border_light_gray;
    height: 30px;
    width: 31px;
    float: right;
  }

  header .content .show-menu .icon-bar {
    margin-bottom: 4px;
    width: 31px;
    height: 6px;
  }

  .slider .view .slide {
    height: 447px;
  }

  .slider .view .slide .full {
    display: none;
  }

  .slider .view .slide .middle {
    display: none;
  }

  .slider .view .slide .small {
    height: 277px;
  }

  .slider .view .slide .content {
    position: absolute;
    height: 170px;
    width: 100%;
    top: 277px;
  }

  .slider .view .slide .content:before {
    content: '';
    background-color: #c31bf3;
    position: absolute;
    height: 170px;
    z-index: 1;
    width: 50%;
    right: 50%;
    top: 0;
  }

  .slider .view .slide .content:after {
    content: '';
    background-color: #e40b76;
    position: absolute;
    height: 170px;
    z-index: 1;
    width: 50%;
    left: 50%;
    top: 0;
  }

  .slider .view .slide .content .title {
    position: relative;
    padding-top: 29px;
    margin: 0 auto;
    height: 141px;
    width: 300px;
    z-index: 2;
  }

  .slider .view .slide .content .title:before {
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #c31bf3; /* Old browsers */
    background: -moz-linear-gradient(left, #c31bf3 0%, #e40b76 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b76 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c31bf3 0%, #e40b76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b76', GradientType=1); /* IE6-9 */
    position: absolute;
    height: 170px;
    width: 300px;
    z-index: 1;
    left: 0;
    top: 0;
  }

  .slider .view .slide .content .title .text {
    font-weight: $font_bold;
    position: relative;
    line-height: 29px;
    font-size: 30px;
    padding: 10px 0;
    color: #ffffff;
    z-index: 2;
  }

  .slider .main-slider-pager-container .content .main-slider-pager {
    top: 392px;
    left: -7px;
  }

  .main-content {
    .main-offer {
      padding-top: 30px;

      .item {
        padding: 13px 50px 13px 0;
        float: none;

        a {
          background: transparent !important;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          height: 46px;
          padding: 0;

          .big {
            display: none;
          }

          &:hover {
            background: transparent !important;

            .small {
              .title {
                color: $font_violet;
              }
            }
          }
        }
      }

      .buttons {
        padding-top: 20px;
        a {
            margin-bottom: 20px;
            text-align: center;
        }
      }
    }

    .main-news {
      padding-bottom: 25px;
      
      .wide-banner {
          margin-top: 25px;
      }

      .header {
        padding: 30px 0 20px 0;
        line-height: 40px;
        font-size: 30px;
      }

      .item {
        padding: 0 0 17px 0;

        .photo {
          display: none;
        }

        .date {
          line-height: 20px;
        }

        .title {
          font-size: 16px;
        }

        .rest {
          padding: 0;

          .date {
            line-height: 26px;
          }

          .title {
            line-height: 24px;
            font-size: 23px;
          }

          .text {
            padding-top: 10px;
            font-size: 13px;
          }
        }

        &.first {
          padding: 0 0 30px 0;
        }
      }

      .more-news {
        margin: 11px 0 0 0;
      }
    }
  }

  .main-contact {
    .info {
      padding: 36px 0 48px 0;
    }

    .links {
      padding: 0 0 68px 0;

      .medium {
        display: none;
      }
    }
  }

  .page-title {
    font-weight: $font_bold;
    padding: 33px 0 32px 0;
    line-height: 40px;
    font-size: 30px;
  }

  .offer-list {
    padding-bottom: 40px;

    .item {
      width: 280px;

      .wide {
        display: none;
      }

      .mask {
        background: transparent url('../images/offer_mask_small.png') no-repeat left top;
        width: 280px;
      }
    }
  }

  .news-list {
    padding-bottom: 40px;

    .news-feed {
      .item {
        margin: 10px 0;
      }
    }
  }

  .gallery-list {
    padding-bottom: 40px;

    .item {
      margin: 10px 0;
    }
  }

  .team-list {
    padding-bottom: 40px;

    .item {
      margin: 0 0 20px 0;
      width: 300px;
      float: left;

      .info {
        padding-bottom: 61px;
        width: 300px;

        .text {
          -webkit-transition: all 1s ease-in-out 0s;
          -moz-transition: all 1s ease-in-out 0s;
          -o-transition: all 1s ease-in-out 0s;
          transition: all 1s ease-in-out 0s;
          box-sizing: border-box;
          overflow: hidden;
          padding: 0 30px;
          max-height: 0;
        }

        .bottom {
          border-left: 10px solid $border_light_gray;
          border-right: 10px solid $border_light_gray;
          border-bottom: 10px solid $border_light_gray;
          -webkit-border-bottom-right-radius: 34px;
          -webkit-border-bottom-left-radius: 34px;
          -moz-border-radius-bottomright: 34px;
          -moz-border-radius-bottomleft: 34px;
          border-bottom-right-radius: 34px;
          border-bottom-left-radius: 34px;
          position: absolute;
          height: 24px;
          width: 280px;
          bottom: 16px;
          right: 0;
        }

        .buttons {
          .hide-person {
            display: none;
          }
        }

        &.visible {
          .text {
            padding: 23px 30px 33px 30px;
            max-height: 400px;
          }

          .buttons {
            .hide-person {
              display: inline-block;
            }

            .show-person {
              display: none;
            }
          }
        }
      }
    }
  }

  .page-content {
    padding-bottom: 50px;

    .page-top {
      margin-top: -13px;
      padding-bottom: 29px;

      .date {
        font-weight: $font_medium;
        color: $font_violet;
        line-height: 29px;
        font-size: 15px;
      }

      .title {
        font-weight: $font_bold;
        line-height: 24px;
        font-size: 20px;
      }
    }

    .page-text {
      .photo {
        margin: 0 0 20px 0;
        float: none;
      }
    }

    .page-gallery {
      margin-left: -10px;
      padding-top: 44px;
      width: 300px;
    }

    .gallery {
      margin-left: -10px;
      width: 300px;
    }
  }

  .page-contact {
    .top {
      padding-bottom: 0;

      .bar {
        background-color: $border_light_gray;
        height: 10px;
        width: 100%;
      }

      .header {
        font-weight: $font_bold;
        padding: 30px 0 14px 0;
        line-height: 27px;
        font-size: 21px;
      }

      .news-list {
        padding: 8px 0 16px 0;

        .item {
          padding: 0 0 17px 0;

          .date {
            line-height: 20px;
          }

          .title {
            line-height: 20px;
            font-size: 16px;
          }
        }
      }

      .galleries-list {
        padding-bottom: 35px;

        .link {
          padding: 7px 0 8px 0;

          a {
            line-height: 20px;
            font-size: 16px;
          }
        }
      }

      .offer-list-right {
        padding-bottom: 17px;

        .item {
          padding: 13px 50px 13px 0;
        }
      }

      .contact {
        display: none;
      }

      &.page-top {
        display: none;
      }
    }

    .separator {
      background: $border_light_gray none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      height: 10px;
      width: 100%;
    }

    .info {
      padding: 36px 0 48px 0;
    }

    .bottom {
      padding-bottom: 70px;

      .medium {
        display: none;
      }
    }
  }

  .contact {
    padding-bottom: 50px;

    .team {
      display: none;
    }

    .right {
      .info {
        .data {
          padding: 0;
          width: 300px;

          .name-top {
            font-size: 20px;
          }

          .name-bottom {
            padding: 0 0 22px 0;
            font-size: 18px;
          }
        }

        .associate {
          padding: 40px 0 0 0;
        }
      }

      .form {
        padding: 54px 0 0 0;
        width: 300px;

        .header {
          padding: 0 0 16px 0;
        }
        .form-row {
          padding-bottom: 0;

          .form-field {
            padding: 0 0 15px 0;
          }

          &.two-columns {
            .form-field {
              float: none;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .map {
    display: none;
  }

  footer {
    text-align: center;

    .top {
      padding: 0 10px 0 0;
    }

    .middle {
      .menu {
        display: none;
      }

      .social {
        padding: 36px 0 22px 0;

        .title {
          display: inline-block;
          padding-right: 7px;
          line-height: 41px;
        }

        a {
          vertical-align: middle;
        }
      }
    }

    .bottom {
      .copyright {
        padding-bottom: 15px;
        line-height: 15px;

        span {
          display: block;
        }
      }

      .implementation {
        padding-bottom: 40px;
        line-height: 20px;

        span {
          line-height: 20px;
          display: block;
        }
      }
    }
  }
    .price-table {
        ul {
            li {
                padding-top: 0;
                &:after {
                    display: none;
                }
                div {
                    width: 100%;
                }
                .price {
                    font: {
                        size: 15px;
                    }
                    margin: {
                        top: 5px;
                    }
                    max-width: 100%;
                }
            }
        }
    }
    .btn-container {
        margin-bottom: 20px;
    }
}
.main-offer-btn {
    width: 280px !important;
    &:before {
        width: 290px !important;
    }
    a {
        width: 280px !important;
    }
}