@media (min-width: 980px) and (max-width: 1299px) {
  .content {
    padding: 0 10px;
    width: 960px;
  }

  #menu-mobile-container {
    right: -320px;
    width: 320px;
    height: 100%;
  }

  #menu-mobile-container.visible {
    right: 0;
  }

  header .content #menu-top {
    display: none;
  }

  .slider .view .slide {
    height: 555px;
  }

  .slider .view .slide .full {
    display: none;
  }

  .slider .view .slide .middle {
    height: 555px;
  }

  .slider .view .slide .small {
    display: none;
  }

  .slider .view .slide .content .title {
    padding: 36px 75px 0 125px;
    position: absolute;
    height: 169px;
    width: 374px;
    left: -86px;
    top: 263px;
  }

  .slider .view .slide .content .title:before {
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #c01cfd; /* Old browsers */
    background: -moz-linear-gradient(left, #c01cfd 0%, #ed0757 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c01cfd 0%, #ed0757 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c01cfd 0%, #ed0757 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c01cfd', endColorstr='#ed0757', GradientType=1); /* IE6-9 */
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    position: absolute;
    height: 205px;
    width: 574px;
    opacity: 0.7;
    z-index: 1;
    left: 0;
    top: 0;
  }

  .slider .view .slide .content .title .text {
    font-weight: $font_bold;
    position: relative;
    line-height: 45px;
    font-size: 50px;
    padding: 10px 0;
    color: #ffffff;
    z-index: 2;
  }

  .slider .main-slider-pager-container .content .main-slider-pager {
    top: 415px;
    left: 32px;
  }

  .main-content {
    .main-offer {
      padding-top: 70px;
      margin: 0 -10px;

      .item {
        a {
          .small {
            display: none;
          }
        }
      }

      .buttons {
        text-align: center;
        padding-top: 10px;
        width: 960px;
        justify-content: flex-start;
        a {
            margin: 0 10px;
            width: 290px;
        }
      }
    }

    .main-news {
      padding-bottom: 50px;
      
      .wide-banner {
          margin-top: 45px !important;
          max-width: 620px;
          margin: 0 auto;
      }

      .header {
        padding: 58px 0 50px 30px;
      }

      .item {
        &.first {
          padding-bottom: 0;
          width: 620px;
          float: left;
        }
      }

      .other {
        padding: 43px 0 0 20px;
        width: 300px;
        float: left;
      }

      .more-news {
        margin-top: 12px;
      }
    }
  }

  .main-contact {
    .info {
      padding: 50px 0 0 0;

      .phone {
        padding: 0 10px 0 30px;
        width: 270px;
        float: left;
      }

      .address {
        padding: 0 10px 0 40px;
        width: 270px;
        float: left;
      }

      .hours {
        padding-left: 40px;
        width: 270px;
        float: left;
      }
    }

    .links {
      padding: 48px 0 84px 0;
      width: 960px;
      float: right;

      .medium {
        margin: 0 auto;
      }

      .small {
        display: none;
      }
    }
  }

  .page-title {
    padding: 46px 0 49px 30px;
    font-weight: $font_bold;
    line-height: 55px;
    font-size: 45px;
  }

  .offer-list {
    padding-bottom: 70px;

    .item {
      width: 280px;

      .wide {
        display: none;
      }

      .mask {
        background: transparent url('../images/offer_mask_small.png') no-repeat left top;
        width: 280px;
      }
    }
  }

  .news-list {
    padding-bottom: 70px;
    margin: 0 -10px;
  }

  .gallery-list {
    padding-bottom: 70px;
    margin: 0 -10px;
  }

  .team-list {
    padding-bottom: 70px;
    margin: 0 -10px;

    .item {
      width: 300px;
      float: left;

      .info {
        height: 299px;
        width: 300px;

        .bottom {
          border-left: 10px solid $border_light_gray;
          border-right: 10px solid $border_light_gray;
          border-bottom: 10px solid $border_light_gray;
          -webkit-border-bottom-right-radius: 34px;
          -webkit-border-bottom-left-radius: 34px;
          -moz-border-radius-bottomright: 34px;
          -moz-border-radius-bottomleft: 34px;
          border-bottom-right-radius: 34px;
          border-bottom-left-radius: 34px;
          position: absolute;
          height: 24px;
          width: 280px;
          bottom: 0;
          right: 0;
        }

        .buttons {
          display: none;
        }
      }
    }
  }

  .page-content {
    padding: 0 0 70px 10px;
    width: 620px;
    float: right;

    .page-top {
      position: absolute;
      width: 590px;
      left: 40px;
      top: -150px;

      .date {
        position: absolute;
        font-weight: $font_medium;
        color: $font_violet;
        line-height: 19px;
        font-size: 15px;
        top: 33px;
      }

      .title {
        position: absolute;
        font-weight: $font_bold;
        line-height: 32px;
        font-size: 30px;
        top: 61px;

        &:before {
          content: '';
          background-color: $border_light_gray;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: absolute;
          left: -30px;
          top: 15px;
          height: 9px;
          width: 9px;
        }
      }
    }

    .page-text {
      padding: 0 30px;
    }

    .page-gallery {
      margin-left: -10px;
      padding-top: 86px;
      width: 640px;
    }

    .gallery {
      margin-left: -10px;
      width: 640px;
    }
  }

  .page-contact {
    padding-bottom: 70px;
    width: 300px;
    float: left;

    .top {
      &.no-bottom {
        padding-bottom: 0;
      }

      .bar {
        -webkit-border-top-left-radius: 34px;
        -webkit-border-top-right-radius: 34px;
        -moz-border-radius-topleft: 34px;
        -moz-border-radius-topright: 34px;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-top: 10px solid $border_light_gray;
        border-left: 10px solid $border_light_gray;
        border-right: 10px solid $border_light_gray;
        height: 24px;
        width: 280px;
      }

      .header {
        display: none;
      }

      .news-list {
        padding: 25px 0 27px 0;
      }

      .galleries-list {
        padding: 12px 0;
      }

      .offer-list-right {
        padding: 7px 0 33px 0;
      }
    }

    .info {
      padding: 45px 0 0 30px;
    }

    .bottom {
      display: none;
    }
  }

  .contact {
    padding-bottom: 70px;

    .team {
      float: left;
    }

    .right {
      padding-left: 10px;
      float: left;

      .info {
        .data {
          float: left;
        }

        .associate {
          padding: 88px 0 0 40px;
          float: left;
        }
      }

      .form {
        padding: 60px 20px 0 30px;
        width: 580px;
      }
    }
  }

  footer {
    .middle {
      width: 230px;
      float: right;

      .menu {
        display: none;
      }

      .social {
        padding-top: 36px;
        text-align: right;

        .title {
          display: inline-block;
          padding-right: 7px;
          line-height: 41px;
        }

        a {
          vertical-align: middle;
        }
      }
    }

    .bottom {
      padding: 48px 0 48px 30px;
      width: 680px;
      float: left;
    }
  }
}
