@media (min-width: 660px) and (max-width: 979px) {
  .content {
    padding: 0 10px;
    width: 640px;
  }

  #menu-mobile-container {
    right: -320px;
    width: 320px;
    height: 100%;
  }

  #menu-mobile-container.visible {
    right: 0;
  }

  header .content #menu-top {
    display: none;
  }

  .slider .view .slide {
    height: 555px;
  }

  .slider .view .slide .full {
    display: none;
  }

  .slider .view .slide .middle {
    height: 555px;
  }

  .slider .view .slide .small {
    display: none;
  }

  .slider .view .slide .content {
    height: 555px;
  }

  .slider .view .slide .content .title {
    padding: 36px 160px 0 40px;
    position: absolute;
    height: 169px;
    width: 440px;
    bottom: 0;
    left: 0;
  }

  .slider .view .slide .content .title:before {
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #c01cfd; /* Old browsers */
    background: -moz-linear-gradient(left, #c01cfd 0%, #ed0757 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c01cfd 0%, #ed0757 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c01cfd 0%, #ed0757 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c01cfd', endColorstr='#ed0757', GradientType=1); /* IE6-9 */
    position: absolute;
    height: 205px;
    width: 640px;
    opacity: 0.7;
    z-index: 1;
    left: 0;
    top: 0;
  }

  .slider .view .slide .content .title .text {
    font-weight: $font_bold;
    position: relative;
    line-height: 45px;
    font-size: 50px;
    padding: 10px 0;
    color: #ffffff;
    z-index: 2;
  }

  .slider .main-slider-pager-container .content .main-slider-pager {
    top: 502px;
    left: 32px;
  }

  .main-content {
    .main-offer {
      padding-top: 70px;
      margin: 0 -10px;

      .item {
        a {
          .small {
            display: none;
          }
        }
      }

      .buttons {
        text-align: center;
        padding-top: 10px;
        width: 640px;
      }
    }

    .main-news {
      padding-bottom: 40px;
      .wide-banner {
          margin-top: 30px !important;
      }

      .header {
        padding: 46px 0 50px 30px;
      }
    }
  }

  .main-contact {
    .info {
      padding: 50px 0 18px 0;
      width: 620px;

      .phone {
        padding-left: 30px;
        width: 270px;
      }

      .address {
        padding-left: 30px;
        width: 270px;
      }

      .hours {
        position: absolute;
        width: 270px;
        top: 50px;
        right: 0;
      }
    }

    .links {
      padding: 0 0 84px 0;
      width: 620px;

      .small {
        display: none;
      }
    }
  }

  .page-title {
    padding: 46px 0 49px 30px;
    font-weight: $font_bold;
    line-height: 55px;
    font-size: 45px;
  }

  .offer-list {
    padding-bottom: 70px;

    .item {
      width: 600px;

      .narrow {
        display: none;
      }

      .mask {
        background: transparent url('../images/offer_mask_big.png') no-repeat left top;
        width: 600px;
      }
    }
  }

  .news-list {
    padding-bottom: 70px;
    margin: 0 -10px;
  }

  .gallery-list {
    padding-bottom: 70px;
    margin: 0 -10px;
  }

  .team-list {
    padding-bottom: 70px;
    margin: 0 -10px;

    .item {
      width: 620px;

      .photo {
        float: left;
      }

      .info {
        padding-left: 20px;
        height: 309px;
        width: 300px;
        float: left;

        .bottom {
          border-right: 10px solid $border_light_gray;
          border-bottom: 10px solid $border_light_gray;
          -webkit-border-bottom-right-radius: 34px;
          -moz-border-radius-bottomright: 34px;
          border-bottom-right-radius: 34px;
          position: absolute;
          height: 24px;
          width: 290px;
          bottom: 0;
          right: 0;
        }

        .buttons {
          display: none;
        }
      }
    }
  }

  .page-content {
    padding-bottom: 50px;

    .page-top {
      margin-top: -13px;
      padding: 0 0 30px 30px;

      .date {
        font-weight: $font_medium;
        color: $font_violet;
        line-height: 37px;
        font-size: 15px;
      }

      .title {
        font-weight: $font_bold;
        line-height: 32px;
        font-size: 30px;
      }
    }

    .page-text {
      padding: 0 30px;
    }

    .page-gallery {
      margin-left: -10px;
      padding-top: 76px;
      width: 640px;
    }

    .gallery {
      margin-left: -10px;
      width: 640px;
    }
  }

  .page-contact {
    .top {
      padding-bottom: 0;
      width: 620px;

      .bar {
        background-color: $border_light_gray;
        height: 10px;
        width: 100%;
      }

      .header {
        padding: 33px 0 20px 30px;
        font-weight: $font_bold;
        line-height: 40px;
        font-size: 30px;
      }

      .news-list {
        padding: 7px 0 27px 0;
      }

      .galleries-list {
        padding-bottom: 50px;
      }

      .offer-list-right {
        padding-bottom: 17px;

        .item {
          width: 250px;
          float: left;
        }

        .item:nth-child(odd) {
          padding: 3px 30px 23px 30px;
        }

        .item:nth-child(even) {
          padding: 3px 20px 23px 40px;
        }
      }

      .contact {
        display: none;
      }

      &.page-top {
        display: none;
      }
    }

    .separator {
      background: $border_light_gray none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      height: 10px;
      width: 100%;
    }

    .info {
      padding: 50px 30px 18px 30px;
      position: relative;

      .phone {
        width: 202px;
      }

      .address {
        width: 202px;
      }

      .hours {
        position: absolute;
        width: 172px;
        right: 30px;
        top: 50px;
      }
    }

    .bottom {
      padding-bottom: 70px;

      .small {
        display: none;
      }
    }
  }

  .contact {
    padding-bottom: 70px;

    .team {
      display: none;
    }

    .right {
      .info {
        .data {
          padding: 0 10px 0 30px;
          float: left;
        }

        .associate {
          padding: 88px 0 0 30px;
          float: left;
        }
      }

      .form {
        padding: 60px 20px 0 20px;
        width: 580px;
      }
    }
  }

  footer {
    text-align: center;

    .middle {
      .menu {
        display: none;
      }

      .social {
        padding: 36px 0 26px 0;

        .title {
          display: inline-block;
          padding-right: 7px;
          line-height: 41px;
        }

        a {
          vertical-align: middle;
        }
      }
    }

    .bottom {
      padding-bottom: 40px;
    }
  }
  .btn-container {
      clear: both;
      margin: {
          bottom: 20px;
      }
  }
}
