@media (min-width: 1300px) {
  .content {
    padding: 0 10px;
    width: 1280px;
  }

  #menu-mobile-container {
    display: none;
  }

  header .content .show-menu {
    display: none;
  }

  .slider .view .slide {
    height: 705px;
  }

  .slider .view .slide .full {
    height: 705px;
  }

  .slider .view .slide .middle {
    display: none;
  }

  .slider .view .slide .small {
    display: none;
  }

  .slider .view .slide .content .title {
    padding: 36px 75px 0 125px;
    position: absolute;
    height: 169px;
    width: 374px;
    left: -86px;
    top: 413px;
  }

  .slider .view .slide .content .title:before {
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #c01cfd; /* Old browsers */
    background: -moz-linear-gradient(left, #c01cfd 0%, #ed0757 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c01cfd 0%, #ed0757 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c01cfd 0%, #ed0757 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c01cfd', endColorstr='#ed0757', GradientType=1); /* IE6-9 */
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    position: absolute;
    height: 205px;
    width: 574px;
    opacity: 0.7;
    z-index: 1;
    left: 0;
    top: 0;
  }

  .slider .view .slide .content .title .text {
    font-weight: $font_bold;
    position: relative;
    line-height: 45px;
    font-size: 50px;
    padding: 10px 0;
    color: #ffffff;
    z-index: 2;
  }

  .slider .main-slider-pager-container .content .main-slider-pager {
    top: 565px;
    left: 32px;
  }

  .main-content {
    .main-offer {
      position: relative;
      margin: -30px -10px 0 0;
      padding-bottom: 25px;
      z-index: 9999;
      width: 640px;
      float: right;

      .item {
        a {
          .small {
            display: none;
          }
        }
      }

      .buttons {
        text-align: center;
        position: absolute;
        bottom: -31px;
        width: 640px;
        a {
            margin: 0 25px;
            min-width: 211px;
        }
      }
    }

    .main-news {
      padding-bottom: 50px;
      width: 620px;
      float: left;

      .other {
          display: none;
      }
      
      .header {
        padding: 82px 0 50px 30px;
      }
    }
  }

  .main-contact {
    .top {
      .bar {
        width: 620px;
      }
    }

    .info {
      padding: 50px 0 108px 0;
      width: 620px;
      float: left;

      .phone {
        padding-left: 30px;
        width: 270px;
      }

      .address {
        padding-left: 30px;
        width: 270px;
      }

      .hours {
        position: absolute;
        width: 270px;
        top: 50px;
        right: 0;
      }
    }

    .links {
      padding: 50px 0 0 0;
      width: 620px;
      float: right;

      .small {
        display: none;
      }
    }
  }

  .page-title {
    padding: 70px 0 55px 30px;
    font-weight: $font_bold;
    line-height: 60px;
    font-size: 50px;
  }

  .offer-list {
    padding-bottom: 70px;

    .item {
      width: 600px;

      .narrow {
        display: none;
      }

      .mask {
        background: transparent url('../images/offer_mask_big.png') no-repeat left top;
        width: 600px;
      }
    }
  }

  .news-list {
    padding-bottom: 70px;
    margin: 0 -10px;
  }

  .gallery-list {
    padding-bottom: 70px;
    margin: 0 -10px;
  }

  .team-list {
    padding-bottom: 70px;
    margin: 0 -10px;

    .item {
      width: 620px;
      float: left;

      .photo {
        float: left;
      }

      .info {
        padding-left: 20px;
        height: 309px;
        width: 300px;
        float: left;

        .bottom {
          border-right: 10px solid $border_light_gray;
          border-bottom: 10px solid $border_light_gray;
          -webkit-border-bottom-right-radius: 34px;
          -moz-border-radius-bottomright: 34px;
          border-bottom-right-radius: 34px;
          position: absolute;
          height: 24px;
          width: 290px;
          bottom: 0;
          right: 0;
        }

        .buttons {
          display: none;
        }
      }
    }
  }

  .page-content {
    padding: 0 0 70px 10px;
    width: 940px;
    float: right;

    .page-top {
      position: absolute;
      width: 910px;
      left: 40px;
      top: -185px;

      .date {
        position: absolute;
        font-weight: $font_medium;
        color: $font_violet;
        line-height: 19px;
        font-size: 15px;
        top: 61px;
      }

      .title {
        position: absolute;
        font-weight: $font_bold;
        line-height: 32px;
        font-size: 30px;
        width: 910px;
        top: 89px;

        &:before {
          content: '';
          background-color: $border_light_gray;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: absolute;
          left: -30px;
          top: 15px;
          height: 9px;
          width: 9px;
        }
      }
    }

    .page-text {
      padding: 0 30px;
    }

    .page-gallery {
      margin-left: -10px;
      padding-top: 86px;
      width: 960px;
    }

    .gallery {
      margin-left: -10px;
      width: 960px;
    }
  }

  .page-contact {
    padding-bottom: 70px;
    width: 300px;
    float: left;

    .top {
      &.no-bottom {
        padding-bottom: 0;
      }

      .bar {
        -webkit-border-top-left-radius: 34px;
        -webkit-border-top-right-radius: 34px;
        -moz-border-radius-topleft: 34px;
        -moz-border-radius-topright: 34px;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-top: 10px solid $border_light_gray;
        border-left: 10px solid $border_light_gray;
        border-right: 10px solid $border_light_gray;
        height: 24px;
        width: 280px;
      }

      .header {
        display: none;
      }

      .news-list {
        padding: 25px 0 27px 0;
      }

      .galleries-list {
        padding: 12px 0;
      }

      .offer-list-right {
        padding: 7px 0 33px 0;
      }
    }

    .info {
      padding: 45px 0 0 30px;
    }

    .bottom {
      display: none;
    }
  }

  .contact {
    padding-bottom: 90px;

    .team {
      float: left;
    }

    .right {
      padding-left: 10px;
      float: left;

      .info {
        float: left;

        .associate {
          padding-top: 100px;
        }
      }

      .form {
        padding: 0 20px 0 30px;
        width: 580px;
        float: left;
      }
    }
  }

  footer {
    .top {
      padding: 0 310px 0 0;
    }

    .middle {
      padding: 46px 0 52px 0;

      .menu {
        padding-left: 30px;
        float: left;
      }

      .social {
        padding-right: 30px;
        text-align: right;
        width: 180px;
        float: right;

        .title {
          padding-bottom: 16px;
        }
      }
    }

    .bottom {
      padding: 0 0 40px 30px;
    }
  }
}
