.team-list {
  .item {
    margin: 0 10px 20px 10px;

    .photo {
      border: 10px solid $border_light_gray;
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      display: block;
    }

    .info {
      position: relative;
      padding-top: 27px;

      .title {
        padding-left: 30px;
        font-weight: $font_bold;
        color: $font_pink;
        font-size: 20px;
      }

      .name {
        padding-left: 30px;
        font-weight: $font_bold;
        line-height: 30px;
        font-size: 24px;
      }

      .text {
        padding: 23px 30px 0 30px;
        line-height: 22px;
        font-size: 15px;
      }

      .buttons {
        position: absolute;
        text-align: center;
        width: 300px;
        bottom: 0;

        .show-person,
        .hide-person {
          display: inline-block;
          font-weight: $font_bold;
          text-transform: uppercase;
          background-color: #ffffff;
          border: 3px solid #f1296f;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 20px;
          line-height: 37px;
          font-size: 14px;
          cursor: pointer;
          padding: 0 30px;
          margin: 0 auto;
        }
      }
    }
  }
}