$font_book: 400;
$font_medium: 500;
$font_bold: 700;
$font_light_gray: #a0a0a0;
$font_medium_gray: #898989;
$font_dark_gray: #3f3e3e;
$font_pink: #f1296f;
$font_violet: #9224bc;
$border_light_gray: #eaeaea;
$border_pink: #f4bfff;