.editor {
  font-family: "anago", sans-serif;
  color: #3f3e3e; }

.editor * {
  padding: 0;
  margin: 0; }

.page-text strong,
.page-text b,
.editor strong,
.editor b {
  font-weight: 700; }

.page-text ul,
.editor ul {
  padding: 25px 0 18px 0;
  list-style: none; }

.page-text ul li,
.editor ul li {
  position: relative;
  font-weight: 500;
  padding: 0 0 7px 27px;
  line-height: 24px;
  font-size: 15px; }

.page-text ul li:before,
.editor ul li:before {
  content: '';
  position: absolute;
  background-color: #ffffff;
  border: 3px solid #c31af2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 3px;
  width: 3px;
  top: 7px;
  left: 0; }

.page-text ol,
.editor ol {
  counter-reset: sekcja;
  padding: 25px 0 18px 0;
  list-style: none; }

.page-text ol li,
.editor ol li {
  position: relative;
  font-weight: 500;
  padding: 0 0 7px 27px;
  line-height: 24px;
  font-size: 15px; }

.page-text ol li:before,
.editor ol li:before {
  counter-increment: sekcja;
  content: counter(sekcja) ".";
  position: absolute;
  line-height: 24px;
  font-size: 15px;
  top: 0;
  left: 0; }

.page-text p,
.editor p {
  line-height: 24px;
  font-size: 15px; }

.page-text p.header,
.editor p.header {
  font-weight: 500;
  padding-bottom: 18px;
  line-height: 22px;
  font-size: 20px; }

.page-text div.quote,
.editor div.quote {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f346a2+0,cf4fff+100 */
  background: #f346a2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f346a2 0%, #cf4fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f346a2 0%, #cf4fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f346a2 0%, #cf4fff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f346a2', endColorstr='#cf4fff',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  padding: 29px 34px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  width: 460px;
  z-index: 1; }

.page-text div.quote:before,
.editor div.quote:before {
  content: '';
  position: absolute;
  background-color: #ffffff;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  z-index: 2;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px; }

.page-text div.quote:after,
.editor div.quote:after {
  content: '';
  position: absolute;
  background-color: #ffffff;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 34px;
  right: 34px; }

.page-text div.quote p,
.editor div.quote p {
  position: relative;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  z-index: 4; }

.page-text span.gray,
.editor span.gray {
  font-weight: 500; }

.page-text span.pink,
.editor span.pink {
  font-weight: 700;
  color: #f1296f; }

@media (max-width: 659px) {
  .page-text ul {
    padding: 24px 0 13px 0; }

  .page-text ul li {
    padding: 0 0 10px 27px;
    line-height: 18px;
    font-size: 13px; }

  .page-text ul li:before {
    top: 3px;
    left: 0; }

  .page-text ol {
    padding: 24px 0 13px 0; }

  .page-text ol li {
    padding: 0 0 10px 27px;
    line-height: 18px;
    font-size: 13px; }

  .page-text ol li:before {
    line-height: 18px;
    font-size: 13px; }

  .page-text p {
    line-height: 18px;
    font-size: 13px; }

  .page-text p.header {
    padding: 5px 0 13px 0;
    line-height: 20px;
    font-size: 17px; }

  .page-text div.quote {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    padding: 7px 17px;
    margin: 30px auto;
    width: 266px; }

  .page-text div.quote:before {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px; }

  .page-text div.quote:after {
    left: 17px;
    right: 17px; }

  .page-text div.quote p {
    line-height: 18px;
    font-size: 13px; } }

/*# sourceMappingURL=editor.css.map */
