html, body {
  font-family: "anago", sans-serif;
  font-weight: 400;
  color: #3f3e3e;
  height: 100%; }

* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.content {
  box-sizing: border-box;
  margin: 0 auto; }

.clear {
  clear: both; }

.ui-widget {
  font-size: 12px; }

#content-wrapper {
  position: relative;
  overflow: hidden; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

#menu-mobile-container {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #f1296f;
  position: absolute;
  z-index: 9999;
  width: 320px; }
  #menu-mobile-container .top {
    border-bottom: 5px solid #d7165a;
    height: 133px; }
    #menu-mobile-container .top .inner .close {
      background: transparent url("../images/menu_mobile_close.png") no-repeat left top;
      margin: 51px 59px 0 0;
      cursor: pointer;
      float: right;
      height: 34px;
      width: 35px; }
  #menu-mobile-container #menu-mobile {
    list-style: none;
    padding: 24px 0; }
    #menu-mobile-container #menu-mobile li a {
      -webkit-border-bottom-right-radius: 22px;
      -webkit-border-top-right-radius: 22px;
      -moz-border-radius-bottomright: 22px;
      -moz-border-radius-topright: 22px;
      border-bottom-right-radius: 22px;
      border-top-right-radius: 22px;
      padding: 0 35px 0 40px;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      line-height: 44px;
      font-size: 18px;
      cursor: pointer;
      color: #ffffff; }
    #menu-mobile-container #menu-mobile li.current a,
    #menu-mobile-container #menu-mobile li a:hover {
      background-color: #ffffff;
      text-decoration: none;
      color: #3f3e3e; }

body.main #menu-mobile-container .top {
  border-bottom: none; }

header {
  border-bottom: 5px solid #eaeaea;
  height: 133px;
  width: 100%; }
  header .content {
    position: relative; }
    header .content .logo {
      background: transparent url("../images/logo.png") no-repeat left top;
      margin: 35px 0 0 29px;
      cursor: pointer;
      display: block;
      height: 57px;
      width: 132px;
      float: left; }
    header .content #menu-top {
      padding: 46px 0 0 0;
      list-style: none;
      float: right; }
      header .content #menu-top li {
        padding: 0 5px;
        float: left; }
        header .content #menu-top li a {
          text-transform: uppercase;
          line-height: 46px;
          font-weight: 700;
          font-size: 14px;
          padding: 0 24px;
          cursor: pointer;
          display: block;
          color: #3f3e3e; }
      header .content #menu-top li.current a,
      header .content #menu-top li a:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d048f8+0,f6469c+100 */
        background: #d048f8;
        /* Old browsers */
        background: -moz-linear-gradient(left, #d048f8 0%, #f6469c 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #d048f8 0%, #f6469c 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #d048f8 0%, #f6469c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d048f8', endColorstr='#f6469c',GradientType=1 );
        /* IE6-9 */
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
        border-radius: 19px;
        text-decoration: none;
        color: #ffffff; }
    header .content .show-menu {
      margin: 30px 30px 0 0;
      border: 6px solid #eaeaea;
      padding: 18px 11px 12px 11px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      cursor: pointer;
      float: right;
      height: 33px;
      width: 41px; }
      header .content .show-menu .icon-bar {
        background-color: #3f3e3e;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 5px;
        display: block;
        width: 41px;
        height: 6px; }

body.main header {
  border-bottom: none; }

.slider {
  position: relative;
  width: 100%; }
  .slider .view {
    width: 100%; }
    .slider .view .slide {
      position: relative;
      width: 100%; }
      .slider .view .slide .photo {
        position: absolute;
        width: 100%;
        top: 0; }
      .slider .view .slide .content {
        position: relative; }
  .slider .main-slider-pager-container {
    position: absolute;
    width: 100%;
    top: 0; }
    .slider .main-slider-pager-container .content {
      position: relative; }
      .slider .main-slider-pager-container .content .main-slider-pager {
        position: absolute;
        z-index: 999; }
        .slider .main-slider-pager-container .content .main-slider-pager .pager-item {
          padding: 5px 13px;
          float: left; }
          .slider .main-slider-pager-container .content .main-slider-pager .pager-item .circle {
            background-color: #630070;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            cursor: pointer;
            height: 8px;
            width: 8px; }
          .slider .main-slider-pager-container .content .main-slider-pager .pager-item:hover {
            padding: 2px 10px; }
            .slider .main-slider-pager-container .content .main-slider-pager .pager-item:hover .circle {
              background-color: #ffffff;
              height: 14px;
              width: 14px; }
        .slider .main-slider-pager-container .content .main-slider-pager .cycle-pager-active {
          padding: 0 8px; }
          .slider .main-slider-pager-container .content .main-slider-pager .cycle-pager-active .circle {
            background-color: #ffffff;
            height: 18px;
            width: 18px; }

.main-content .main-offer .item {
  padding: 0 10px 20px 10px;
  float: left; }
  .main-content .main-offer .item a {
    text-decoration: none;
    background-color: #eaeaea;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    cursor: pointer;
    display: block;
    padding: 10px; }
    .main-content .main-offer .item a .big {
      color: #3f3e3e;
      background-color: #ffffff;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      border-radius: 24px;
      padding-top: 44px;
      height: 152px;
      width: 280px; }
      .main-content .main-offer .item a .big img {
        margin: 0 auto;
        display: block; }
      .main-content .main-offer .item a .big .title {
        font-weight: 700;
        text-align: center;
        padding-top: 18px;
        line-height: 25px;
        font-size: 24px; }
    .main-content .main-offer .item a .small {
      text-decoration: none;
      color: #3f3e3e;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      display: table;
      height: 46px;
      width: auto;
      padding: 0; }
      .main-content .main-offer .item a .small .icon {
        display: table-cell;
        padding-right: 22px; }
        .main-content .main-offer .item a .small .icon img {
          display: block; }
      .main-content .main-offer .item a .small .title {
        vertical-align: middle;
        font-weight: 500;
        display: table-cell;
        line-height: 22px;
        text-align: left;
        font-size: 19px;
        height: 46px;
        padding: 0; }
    .main-content .main-offer .item a:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
      background: #c31bf3;
      /* Old browsers */
      background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1);
      /* IE6-9 */ }
.main-content .main-offer .buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .main-content .main-offer .buttons a {
    min-width: 211px; }
  .main-content .main-offer .buttons .more-offers {
    display: inline-block;
    text-decoration: none;
    background-color: #eaeaea;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    line-height: 36px;
    height: 36px;
    padding: 5px; }
    .main-content .main-offer .buttons .more-offers span {
      color: #3f3e3e;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #ffffff;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      padding: 0 19px;
      display: block; }
    .main-content .main-offer .buttons .more-offers:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
      background: #c31bf3;
      /* Old browsers */
      background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1);
      /* IE6-9 */ }
.main-content .main-news .wide-banner {
  background: #eaeaea;
  border-radius: 34px;
  padding: 10px !important;
  height: 196px;
  position: relative;
  z-index: 1001; }
  .main-content .main-news .wide-banner:hover {
    background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%); }
  .main-content .main-news .wide-banner a.main {
    border-radius: 24px;
    background-size: 90%;
    background-position: center center;
    display: block;
    height: 100%;
    width: 100%; }
    .main-content .main-news .wide-banner a.main img {
      display: block;
      margin: 0 auto;
      padding-top: 70px; }
  .main-content .main-news .wide-banner a.title {
    font-size: 24px;
    font-weight: 700;
    bottom: 28%;
    margin: auto;
    left: 0;
    text-align: center;
    position: absolute;
    z-index: 1002;
    width: 100%; }
.main-content .main-news .header {
  font-weight: 700;
  line-height: 50px;
  font-size: 40px; }
.main-content .main-news .item {
  padding: 0 0 15px 30px; }
  .main-content .main-news .item .photo {
    text-decoration: none;
    display: block;
    float: left; }
    .main-content .main-news .item .photo img {
      border: 10px solid #eaeaea;
      -webkit-border-radius: 34px;
      -moz-border-radius: 34px;
      border-radius: 34px;
      display: block; }
  .main-content .main-news .item .date {
    font-weight: 500;
    color: #a0a0a0;
    line-height: 22px;
    font-size: 10px; }
  .main-content .main-news .item .title {
    font-weight: 500;
    color: #3f3e3e;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    font-size: 18px; }
  .main-content .main-news .item .rest {
    padding: 40px 0 0 50px;
    width: 270px;
    float: left; }
    .main-content .main-news .item .rest .date {
      color: #9224bc;
      line-height: 30px;
      font-size: 14px; }
    .main-content .main-news .item .rest .title {
      font-weight: 700;
      line-height: 28px;
      font-size: 26px; }
    .main-content .main-news .item .rest .text {
      color: #a0a0a0;
      padding-top: 16px;
      line-height: 18px;
      font-size: 15px; }
  .main-content .main-news .item.first {
    padding: 0 0 44px 0; }
.main-content .main-news .more-news {
  margin: 21px 0 0 30px;
  display: inline-block;
  text-decoration: none;
  background-color: #eaeaea;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  line-height: 36px;
  height: 36px;
  padding: 5px; }
  .main-content .main-news .more-news span {
    color: #3f3e3e;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    padding: 0 19px;
    display: block; }
  .main-content .main-news .more-news:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
    background: #c31bf3;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1);
    /* IE6-9 */ }

.main-contact .top {
  height: 10px; }
  .main-contact .top .bar {
    background-color: #eaeaea;
    height: 10px; }
.main-contact .info {
  position: relative; }
  .main-contact .info .phone .inside {
    background: transparent url("../images/contact_phone.png") no-repeat left top;
    padding: 12px 0 0 68px;
    height: 74px; }
    .main-contact .info .phone .inside .normal {
      font-weight: 700;
      line-height: 22px;
      font-size: 22px;
      color: #f1296f; }
    .main-contact .info .phone .inside .cellphone {
      font-weight: 700;
      line-height: 20px;
      font-size: 18px; }
      .main-contact .info .phone .inside .cellphone span {
        font-weight: 500;
        font-size: 14px; }
  .main-contact .info .address .inside {
    background: transparent url("../images/contact_address.png") no-repeat left top;
    font-weight: 500;
    padding: 11px 0 0 68px;
    line-height: 23px;
    font-size: 16px;
    height: 75px; }
  .main-contact .info .hours .inside {
    background: transparent url("../images/contact_hours.png") no-repeat left top;
    padding: 10px 0 0 68px;
    height: 80px; }
    .main-contact .info .hours .inside .header {
      font-weight: 700;
      padding-bottom: 10px;
      line-height: 24px;
      font-size: 18px; }
    .main-contact .info .hours .inside .value {
      font-weight: 500;
      height: 23px; }
      .main-contact .info .hours .inside .value .day {
        line-height: 23px;
        font-size: 14px;
        width: 64px;
        float: left; }
      .main-contact .info .hours .inside .value .hour {
        line-height: 23px;
        font-size: 16px;
        float: left; }
.main-contact .links .medium {
  background: transparent url("../images/page_contact_link_medium.jpg") no-repeat left top;
  border: 10px solid #eaeaea;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  padding: 8px 0 0 212px;
  font-weight: 500;
  text-decoration: none;
  line-height: 135px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  height: 135px;
  width: 388px; }
  .main-contact .links .medium:hover {
    border: 10px solid #f4bfff; }
.main-contact .links .small {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c21bf3+0,e40b76+100 */
  background: #c21bf3 url("../images/page_contact_link_small.png") no-repeat left top;
  /* Old browsers */
  background: url("../images/page_contact_link_small.png") no-repeat left top, -moz-linear-gradient(left, #c21bf3 0%, #e40b76 100%);
  /* FF3.6-15 */
  background: url("../images/page_contact_link_small.png") no-repeat left top, -webkit-linear-gradient(left, #c21bf3 0%, #e40b76 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url("../images/page_contact_link_small.png") no-repeat left top, linear-gradient(to right, #c21bf3 0%, #e40b76 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21bf3', endColorstr='#e40b76', GradientType=1), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/page_contact_link_small.png', sizingMethod='crop');
  /* IE6-9 */
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 35px 30px 0 142px;
  text-decoration: none;
  line-height: 27px;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  height: 87px;
  width: 128px; }

.map-main {
  height: 329px;
  width: 100%; }

.main-offer-btn {
  width: 290px !important; }
  .main-offer-btn:before {
    width: 300px !important; }
  .main-offer-btn a {
    width: 290px !important; }

.page-content {
  position: relative; }
  .page-content .page-text .photo {
    padding: 10px;
    margin: 0 -30px 20px 20px;
    background-color: #eaeaea;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    overflow: hidden;
    float: right; }
    .page-content .page-text .photo img {
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      border-radius: 24px;
      display: block; }
  .page-content .gallery .photo,
  .page-content .page-gallery .photo {
    padding: 10px;
    margin: 0 10px 20px 10px;
    background-color: #eaeaea;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    float: left; }
    .page-content .gallery .photo img,
    .page-content .page-gallery .photo img {
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      border-radius: 24px;
      display: block; }
    .page-content .gallery .photo:hover,
    .page-content .page-gallery .photo:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
      background: #c31bf3;
      /* Old browsers */
      background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1);
      /* IE6-9 */ }

.page-contact .top {
  padding-bottom: 142px;
  position: relative;
  width: 300px; }
  .page-contact .top .news-list .item {
    padding: 0 0 14px 30px; }
    .page-contact .top .news-list .item .date {
      font-weight: 500;
      color: #a0a0a0;
      line-height: 18px;
      font-size: 10px; }
    .page-contact .top .news-list .item .title {
      font-weight: 500;
      color: #3f3e3e;
      text-decoration: none;
      line-height: 24px;
      font-size: 18px; }
  .page-contact .top .galleries-list {
    position: relative; }
    .page-contact .top .galleries-list .link {
      padding: 9px 0 9px 30px; }
      .page-contact .top .galleries-list .link a {
        font-weight: 500;
        vertical-align: bottom;
        display: inline-block;
        text-decoration: none;
        line-height: 22px;
        font-size: 18px;
        color: #3f3e3e; }
        .page-contact .top .galleries-list .link a.current, .page-contact .top .galleries-list .link a:hover {
          color: #9224bc; }
  .page-contact .top .offer-list-right .item {
    padding: 13px 20px 13px 30px; }
    .page-contact .top .offer-list-right .item a {
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      color: #3f3e3e;
      text-decoration: none;
      cursor: pointer;
      display: table;
      height: 46px;
      width: auto;
      padding: 0; }
      .page-contact .top .offer-list-right .item a .big {
        display: none; }
      .page-contact .top .offer-list-right .item a .small {
        margin-right: 22px;
        display: block;
        float: left; }
      .page-contact .top .offer-list-right .item a .title {
        vertical-align: middle;
        font-weight: 500;
        display: table-cell;
        line-height: 22px;
        text-align: left;
        font-size: 19px;
        padding: 0; }
      .page-contact .top .offer-list-right .item a.current, .page-contact .top .offer-list-right .item a:hover {
        color: #9224bc; }
  .page-contact .top .contact {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c21bf3+0,e40b76+100 */
    background: #c21bf3 url("../images/page_contact_link.png") no-repeat left top;
    /* Old browsers */
    background: url("../images/page_contact_link.png") no-repeat left top, -moz-linear-gradient(left, #c21bf3 0%, #e40b76 100%);
    /* FF3.6-15 */
    background: url("../images/page_contact_link.png") no-repeat left top, -webkit-linear-gradient(left, #c21bf3 0%, #e40b76 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: url("../images/page_contact_link.png") no-repeat left top, linear-gradient(to right, #c21bf3 0%, #e40b76 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21bf3', endColorstr='#e40b76', GradientType=1), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/page_contact_link.png', sizingMethod='crop');
    /* IE6-9 */
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 45px 30px 0 142px;
    text-decoration: none;
    position: absolute;
    line-height: 27px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    height: 97px;
    width: 128px;
    bottom: 0; }
  .page-contact .top.page-top {
    background: transparent url("../images/page_contact_bg.jpg") no-repeat top left;
    -webkit-border-top-left-radius: 34px;
    -webkit-border-top-right-radius: 34px;
    -moz-border-radius-topleft: 34px;
    -moz-border-radius-topright: 34px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    padding-bottom: 0;
    height: 558px; }
.page-contact .info .phone {
  background: transparent url("../images/contact_phone.png") no-repeat left top;
  padding: 12px 0 0 68px;
  height: 74px; }
  .page-contact .info .phone .normal {
    font-weight: 700;
    line-height: 22px;
    font-size: 22px;
    color: #f1296f; }
  .page-contact .info .phone .cellphone {
    font-weight: 700;
    line-height: 20px;
    font-size: 18px; }
    .page-contact .info .phone .cellphone span {
      font-weight: 500;
      font-size: 14px; }
.page-contact .info .address {
  background: transparent url("../images/contact_address.png") no-repeat left top;
  font-weight: 500;
  padding: 11px 0 0 68px;
  line-height: 23px;
  font-size: 16px;
  height: 75px; }
.page-contact .info .hours {
  background: transparent url("../images/contact_hours.png") no-repeat left top;
  padding: 10px 0 0 68px;
  height: 80px; }
  .page-contact .info .hours .header {
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 24px;
    font-size: 18px; }
  .page-contact .info .hours .value {
    font-weight: 500;
    height: 23px; }
    .page-contact .info .hours .value .day {
      line-height: 23px;
      font-size: 14px;
      width: 64px;
      float: left; }
    .page-contact .info .hours .value .hour {
      line-height: 23px;
      font-size: 16px;
      float: left; }
.page-contact .bottom .medium {
  background: transparent url("../images/page_contact_link_medium.jpg") no-repeat left top;
  border: 10px solid #eaeaea;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  padding: 8px 0 0 212px;
  font-weight: 500;
  text-decoration: none;
  line-height: 135px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  height: 135px;
  width: 388px; }
  .page-contact .bottom .medium:hover {
    border: 10px solid #f4bfff; }
.page-contact .bottom .small {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c21bf3+0,e40b76+100 */
  background: #c21bf3 url("../images/page_contact_link_small.png") no-repeat left top;
  /* Old browsers */
  background: url("../images/page_contact_link_small.png") no-repeat left top, -moz-linear-gradient(left, #c21bf3 0%, #e40b76 100%);
  /* FF3.6-15 */
  background: url("../images/page_contact_link_small.png") no-repeat left top, -webkit-linear-gradient(left, #c21bf3 0%, #e40b76 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url("../images/page_contact_link_small.png") no-repeat left top, linear-gradient(to right, #c21bf3 0%, #e40b76 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21bf3', endColorstr='#e40b76', GradientType=1), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/page_contact_link_small.png', sizingMethod='crop');
  /* IE6-9 */
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 35px 30px 0 142px;
  text-decoration: none;
  line-height: 27px;
  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  height: 87px;
  width: 128px; }

.news-list .news-feed .item {
  margin: 0 10px 20px 10px;
  text-decoration: none;
  position: relative;
  display: block;
  width: 300px;
  float: left; }
  .news-list .news-feed .item .photo {
    background-color: #eaeaea;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    padding: 10px; }
    .news-list .news-feed .item .photo img {
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      border-radius: 24px;
      display: block; }
  .news-list .news-feed .item .rest {
    position: relative;
    padding: 0 30px;
    height: 153px;
    z-index: 2; }
    .news-list .news-feed .item .rest .date {
      font-weight: 500;
      color: #9224bc;
      padding-top: 29px;
      line-height: 29px;
      font-size: 15px; }
    .news-list .news-feed .item .rest .title {
      font-weight: 700;
      color: #3f3e3e;
      line-height: 24px;
      font-size: 18px; }
  .news-list .news-feed .item .bottom {
    background-color: #eaeaea;
    -webkit-border-bottom-right-radius: 34px;
    -webkit-border-bottom-left-radius: 34px;
    -moz-border-radius-bottomright: 34px;
    -moz-border-radius-bottomleft: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    padding: 0 10px 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 0; }
    .news-list .news-feed .item .bottom .inner {
      -webkit-border-bottom-right-radius: 24px;
      -webkit-border-bottom-left-radius: 24px;
      -moz-border-radius-bottomright: 24px;
      -moz-border-radius-bottomleft: 24px;
      border-bottom-right-radius: 24px;
      border-bottom-left-radius: 24px;
      background-color: #ffffff;
      height: 24px;
      width: 280px; }
  .news-list .news-feed .item:hover .photo,
  .news-list .news-feed .item:hover .bottom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
    background: #c31bf3;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1);
    /* IE6-9 */ }

.offer-list {
  margin: 0 -10px; }
  .offer-list .item {
    border: 10px solid #eaeaea;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    margin: 0 10px 20px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    height: 196px;
    float: left; }
    .offer-list .item .narrow {
      position: absolute;
      display: block;
      left: 0;
      top: 0; }
    .offer-list .item .wide {
      position: absolute;
      display: block;
      left: 0;
      top: 0; }
    .offer-list .item .mask {
      position: absolute;
      display: block;
      height: 196px;
      left: 0;
      top: 0; }
    .offer-list .item .info {
      padding-top: 44px;
      text-align: center;
      position: absolute;
      display: block;
      right: 0;
      left: 0;
      top: 0; }
      .offer-list .item .info img {
        margin: 0 auto;
        display: block; }
      .offer-list .item .info .text {
        font-weight: 500;
        padding-top: 17px;
        line-height: 25px;
        font-size: 24px;
        color: #ffffff; }
    .offer-list .item:hover {
      border: 10px solid #f4bfff; }

.price-table ul {
  padding-top: 0;
  width: 100%; }
  .price-table ul li {
    font-size: 15px;
    position: relative;
    padding: 10px 0;
    z-index: 1001; }
    .price-table ul li:before {
      display: none; }
    .price-table ul li:after {
      background: url("../images/dotted-border.png") no-repeat;
      background-position: center center;
      background-size: cover;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      height: 2px;
      position: absolute;
      width: 100%;
      z-index: 1002; }
    .price-table ul li:first-child {
      padding-top: 0; }
    .price-table ul li .price {
      color: #9224bc;
      font-size: 20px;
      max-width: 50%; }

.btn-container {
  height: 40px;
  width: 160px;
  margin: 20px auto 0;
  position: relative;
  z-index: 1001; }
  .btn-container:hover:before {
    background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%); }
  .btn-container .grey-rounded-btn {
    border-radius: 25px;
    background: #fff;
    color: #3f3f3f;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    left: 5px;
    right: 0;
    margin: auto;
    top: 5px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    width: 160px;
    position: absolute;
    z-index: 1003; }
    .btn-container .grey-rounded-btn:hover {
      color: #3f3f3f;
      text-decoration: none; }
  .btn-container:before {
    border-radius: 25px;
    background: #e1e1e1;
    content: "";
    display: block;
    left: 0;
    top: 0;
    height: 50px;
    position: absolute;
    z-index: 1001;
    width: 170px; }

.gallery-list .item {
  margin: 0 10px 20px 10px;
  text-decoration: none;
  position: relative;
  display: block;
  width: 300px;
  float: left; }
  .gallery-list .item .photo {
    background-color: #eaeaea;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    padding: 10px; }
    .gallery-list .item .photo img {
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      border-radius: 24px;
      display: block; }
  .gallery-list .item .rest {
    position: relative;
    height: 153px;
    z-index: 2; }
    .gallery-list .item .rest .title {
      padding: 35px 30px 0 30px;
      font-weight: 700;
      color: #3f3e3e;
      line-height: 26px;
      font-size: 24px; }
  .gallery-list .item .bottom {
    background-color: #eaeaea;
    -webkit-border-bottom-right-radius: 34px;
    -webkit-border-bottom-left-radius: 34px;
    -moz-border-radius-bottomright: 34px;
    -moz-border-radius-bottomleft: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    padding: 0 10px 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 0; }
    .gallery-list .item .bottom .inner {
      -webkit-border-bottom-right-radius: 24px;
      -webkit-border-bottom-left-radius: 24px;
      -moz-border-radius-bottomright: 24px;
      -moz-border-radius-bottomleft: 24px;
      border-bottom-right-radius: 24px;
      border-bottom-left-radius: 24px;
      background-color: #ffffff;
      height: 24px;
      width: 280px; }
  .gallery-list .item:hover .photo,
  .gallery-list .item:hover .bottom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c31bf3+0,e40b77+100 */
    background: #c31bf3;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b77 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c31bf3 0%, #e40b77 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b77', GradientType=1);
    /* IE6-9 */ }

.team-list .item {
  margin: 0 10px 20px 10px; }
  .team-list .item .photo {
    border: 10px solid #eaeaea;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    display: block; }
  .team-list .item .info {
    position: relative;
    padding-top: 27px; }
    .team-list .item .info .title {
      padding-left: 30px;
      font-weight: 700;
      color: #f1296f;
      font-size: 20px; }
    .team-list .item .info .name {
      padding-left: 30px;
      font-weight: 700;
      line-height: 30px;
      font-size: 24px; }
    .team-list .item .info .text {
      padding: 23px 30px 0 30px;
      line-height: 22px;
      font-size: 15px; }
    .team-list .item .info .buttons {
      position: absolute;
      text-align: center;
      width: 300px;
      bottom: 0; }
      .team-list .item .info .buttons .show-person,
      .team-list .item .info .buttons .hide-person {
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #ffffff;
        border: 3px solid #f1296f;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        line-height: 37px;
        font-size: 14px;
        cursor: pointer;
        padding: 0 30px;
        margin: 0 auto; }

.contact .team {
  background: transparent url("../images/contact_team_bg.jpg") no-repeat top left;
  -webkit-border-top-left-radius: 34px;
  -webkit-border-top-right-radius: 34px;
  -moz-border-radius-topleft: 34px;
  -moz-border-radius-topright: 34px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  position: relative;
  height: 558px;
  width: 300px; }
  .contact .team a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c21bf3+0,e40b76+100 */
    background: #c21bf3 url("../images/contact_team_link.png") no-repeat left top;
    /* Old browsers */
    background: url("../images/contact_team_link.png") no-repeat left top, -moz-linear-gradient(left, #c21bf3 0%, #e40b76 100%);
    /* FF3.6-15 */
    background: url("../images/contact_team_link.png") no-repeat left top, -webkit-linear-gradient(left, #c21bf3 0%, #e40b76 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: url("../images/contact_team_link.png") no-repeat left top, linear-gradient(to right, #c21bf3 0%, #e40b76 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c21bf3', endColorstr='#e40b76', GradientType=1), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/contact_team_link.png', sizingMethod='crop');
    /* IE6-9 */
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 45px 0 0 142px;
    text-decoration: none;
    position: absolute;
    line-height: 27px;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    height: 97px;
    width: 158px;
    bottom: 0; }
.contact .right .info .data {
  padding: 0 10px 0 40px;
  width: 270px; }
  .contact .right .info .data .name-top {
    font-weight: 700;
    line-height: 24px;
    font-size: 21px; }
  .contact .right .info .data .name-bottom {
    font-weight: 700;
    padding: 0 0 42px 0;
    line-height: 24px;
    font-size: 20px;
    color: #f1296f; }
  .contact .right .info .data .phone {
    background: transparent url("../images/contact_phone.png") no-repeat left top;
    padding: 12px 0 0 68px;
    height: 74px; }
    .contact .right .info .data .phone .normal {
      font-weight: 700;
      line-height: 22px;
      font-size: 22px;
      color: #f1296f; }
    .contact .right .info .data .phone .cellphone {
      font-weight: 700;
      line-height: 20px;
      font-size: 18px; }
      .contact .right .info .data .phone .cellphone span {
        font-weight: 500;
        font-size: 14px; }
  .contact .right .info .data .address {
    background: transparent url("../images/contact_address.png") no-repeat left top;
    font-weight: 500;
    padding: 11px 0 0 68px;
    line-height: 23px;
    font-size: 16px;
    height: 75px; }
  .contact .right .info .data .hours {
    background: transparent url("../images/contact_hours.png") no-repeat left top;
    padding: 10px 0 0 68px;
    height: 80px; }
    .contact .right .info .data .hours .header {
      font-weight: 700;
      padding-bottom: 10px;
      line-height: 24px;
      font-size: 18px; }
    .contact .right .info .data .hours .value {
      font-weight: 500;
      height: 23px; }
      .contact .right .info .data .hours .value .day {
        line-height: 23px;
        font-size: 14px;
        width: 64px;
        float: left; }
      .contact .right .info .data .hours .value .hour {
        line-height: 23px;
        font-size: 16px;
        float: left; }
.contact .right .info .associate {
  padding: 0 10px 0 40px;
  width: 270px; }
  .contact .right .info .associate .header {
    font-weight: 700;
    padding-bottom: 18px;
    line-height: 24px;
    font-size: 18px; }
  .contact .right .info .associate img {
    margin-right: 10px;
    display: block;
    float: left; }
.contact .right .form {
  padding: 0 30px; }
  .contact .right .form .header {
    padding: 0 10px 36px 10px;
    font-weight: 700;
    line-height: 24px;
    font-size: 21px; }
  .contact .right .form .form-row {
    padding-bottom: 15px; }
    .contact .right .form .form-row .form-field {
      box-sizing: border-box;
      padding: 0 10px; }
      .contact .right .form .form-row .form-field label {
        font-weight: 500;
        line-height: 30px;
        font-size: 14px;
        display: block; }
      .contact .right .form .form-row .form-field .form-widget {
        position: relative; }
        .contact .right .form .form-row .form-field .form-widget input,
        .contact .right .form .form-row .form-field .form-widget textarea {
          font-family: "anago", sans-serif;
          -webkit-border-radius: 22px;
          -moz-border-radius: 22px;
          border-radius: 22px;
          border: 2px solid #b7b7b7;
          box-sizing: border-box;
          font-weight: 700;
          line-height: 18px;
          font-size: 12px;
          outline: none;
          width: 100%; }
        .contact .right .form .form-row .form-field .form-widget input {
          padding: 11px 0 10px 0;
          text-align: center; }
        .contact .right .form .form-row .form-field .form-widget textarea {
          padding: 11px 28px 10px 28px;
          height: 159px;
          resize: none; }
        .contact .right .form .form-row .form-field .form-widget input:hover,
        .contact .right .form .form-row .form-field .form-widget input:focus {
          padding: 10px 0 9px 0;
          border: 3px solid #f1296f; }
        .contact .right .form .form-row .form-field .form-widget textarea:hover,
        .contact .right .form .form-row .form-field .form-widget textarea:focus {
          padding: 10px 27px 9px 27px;
          border: 3px solid #f1296f; }
        .contact .right .form .form-row .form-field .form-widget .ui-datepicker-trigger {
          background: transparent url("../images/calendar.png") no-repeat top left;
          border: none;
          cursor: pointer;
          height: 18px;
          width: 16px;
          text-indent: -99999px;
          position: absolute;
          right: 15px;
          top: 12px; }
    .contact .right .form .form-row.two-columns .form-field {
      float: left;
      width: 50%; }
    .contact .right .form .form-row .form-buttons {
      text-align: center;
      padding-top: 3px; }
      .contact .right .form .form-row .form-buttons button {
        outline: none;
        background-color: #ffffff;
        font-family: "anago", sans-serif;
        text-transform: uppercase;
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
        border: 3px solid #f1296f;
        padding: 10px 27px 9px 27px;
        font-weight: 700;
        display: inline-block;
        line-height: 18px;
        font-size: 14px;
        cursor: pointer; }

.map {
  height: 329px;
  width: 100%; }

footer .top {
  height: 10px; }
  footer .top .bar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #b612d4;
    /* Old browsers */
    background: -moz-linear-gradient(left, #b612d4 0%, #ed07cf 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b612d4 0%, #ed07cf 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b612d4 0%, #ed07cf 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b612d4', endColorstr='#ed07cf',GradientType=1 );
    /* IE6-9 */
    height: 10px; }
footer .middle .menu ul {
  list-style: none; }
footer .middle .menu #menu-bottom {
  vertical-align: top; }
  footer .middle .menu #menu-bottom li {
    line-height: 20px;
    display: block;
    width: 170px;
    float: left; }
    footer .middle .menu #menu-bottom li a {
      text-transform: uppercase;
      font-weight: 700;
      vertical-align: bottom;
      display: inline-block;
      text-decoration: none;
      line-height: 20px;
      font-size: 14px;
      color: #3f3e3e; }
    footer .middle .menu #menu-bottom li ul {
      padding-top: 16px; }
      footer .middle .menu #menu-bottom li ul li {
        padding: 3px 0 4px 0;
        line-height: 18px;
        width: 100%;
        float: none; }
        footer .middle .menu #menu-bottom li ul li a {
          font-weight: 500;
          text-transform: none;
          line-height: 18px;
          font-size: 12px;
          color: #a0a0a0; }
          footer .middle .menu #menu-bottom li ul li a:hover {
            color: #3f3e3e; }
footer .middle .social {
  font-size: 0; }
  footer .middle .social .title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    font-size: 14px; }
  footer .middle .social .youtube {
    background: transparent url("../images/youtube.png") no-repeat left top;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 11px;
    height: 41px;
    width: 41px; }
    footer .middle .social .youtube:hover {
      background-position: left bottom; }
  footer .middle .social .facebook {
    background: transparent url("../images/facebook.png") no-repeat left top;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 11px;
    height: 41px;
    width: 41px; }
    footer .middle .social .facebook:hover {
      background-position: left bottom; }
footer .bottom .copyright {
  font-weight: 400;
  line-height: 26px;
  font-size: 12px;
  color: #a0a0a0; }
  footer .bottom .copyright a {
    font-weight: 500;
    color: #f1296f; }
footer .bottom .implementation {
  font-weight: 400;
  line-height: 26px;
  font-size: 12px;
  color: #898989; }
  footer .bottom .implementation a {
    background: transparent url("../images/footer_lemo.png") no-repeat left top;
    vertical-align: middle;
    display: inline-block;
    height: 22px;
    width: 65px; }

@media (min-width: 1300px) {
  .content {
    padding: 0 10px;
    width: 1280px; }

  #menu-mobile-container {
    display: none; }

  header .content .show-menu {
    display: none; }

  .slider .view .slide {
    height: 705px; }

  .slider .view .slide .full {
    height: 705px; }

  .slider .view .slide .middle {
    display: none; }

  .slider .view .slide .small {
    display: none; }

  .slider .view .slide .content .title {
    padding: 36px 75px 0 125px;
    position: absolute;
    height: 169px;
    width: 374px;
    left: -86px;
    top: 413px; }

  .slider .view .slide .content .title:before {
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #c01cfd;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c01cfd 0%, #ed0757 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c01cfd 0%, #ed0757 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c01cfd 0%, #ed0757 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c01cfd', endColorstr='#ed0757', GradientType=1);
    /* IE6-9 */
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    position: absolute;
    height: 205px;
    width: 574px;
    opacity: 0.7;
    z-index: 1;
    left: 0;
    top: 0; }

  .slider .view .slide .content .title .text {
    font-weight: 700;
    position: relative;
    line-height: 45px;
    font-size: 50px;
    padding: 10px 0;
    color: #ffffff;
    z-index: 2; }

  .slider .main-slider-pager-container .content .main-slider-pager {
    top: 565px;
    left: 32px; }

  .main-content .main-offer {
    position: relative;
    margin: -30px -10px 0 0;
    padding-bottom: 25px;
    z-index: 9999;
    width: 640px;
    float: right; }
    .main-content .main-offer .item a .small {
      display: none; }
    .main-content .main-offer .buttons {
      text-align: center;
      position: absolute;
      bottom: -31px;
      width: 640px; }
      .main-content .main-offer .buttons a {
        margin: 0 25px;
        min-width: 211px; }
  .main-content .main-news {
    padding-bottom: 50px;
    width: 620px;
    float: left; }
    .main-content .main-news .other {
      display: none; }
    .main-content .main-news .header {
      padding: 82px 0 50px 30px; }

  .main-contact .top .bar {
    width: 620px; }
  .main-contact .info {
    padding: 50px 0 108px 0;
    width: 620px;
    float: left; }
    .main-contact .info .phone {
      padding-left: 30px;
      width: 270px; }
    .main-contact .info .address {
      padding-left: 30px;
      width: 270px; }
    .main-contact .info .hours {
      position: absolute;
      width: 270px;
      top: 50px;
      right: 0; }
  .main-contact .links {
    padding: 50px 0 0 0;
    width: 620px;
    float: right; }
    .main-contact .links .small {
      display: none; }

  .page-title {
    padding: 70px 0 55px 30px;
    font-weight: 700;
    line-height: 60px;
    font-size: 50px; }

  .offer-list {
    padding-bottom: 70px; }
    .offer-list .item {
      width: 600px; }
      .offer-list .item .narrow {
        display: none; }
      .offer-list .item .mask {
        background: transparent url("../images/offer_mask_big.png") no-repeat left top;
        width: 600px; }

  .news-list {
    padding-bottom: 70px;
    margin: 0 -10px; }

  .gallery-list {
    padding-bottom: 70px;
    margin: 0 -10px; }

  .team-list {
    padding-bottom: 70px;
    margin: 0 -10px; }
    .team-list .item {
      width: 620px;
      float: left; }
      .team-list .item .photo {
        float: left; }
      .team-list .item .info {
        padding-left: 20px;
        height: 309px;
        width: 300px;
        float: left; }
        .team-list .item .info .bottom {
          border-right: 10px solid #eaeaea;
          border-bottom: 10px solid #eaeaea;
          -webkit-border-bottom-right-radius: 34px;
          -moz-border-radius-bottomright: 34px;
          border-bottom-right-radius: 34px;
          position: absolute;
          height: 24px;
          width: 290px;
          bottom: 0;
          right: 0; }
        .team-list .item .info .buttons {
          display: none; }

  .page-content {
    padding: 0 0 70px 10px;
    width: 940px;
    float: right; }
    .page-content .page-top {
      position: absolute;
      width: 910px;
      left: 40px;
      top: -185px; }
      .page-content .page-top .date {
        position: absolute;
        font-weight: 500;
        color: #9224bc;
        line-height: 19px;
        font-size: 15px;
        top: 61px; }
      .page-content .page-top .title {
        position: absolute;
        font-weight: 700;
        line-height: 32px;
        font-size: 30px;
        width: 910px;
        top: 89px; }
        .page-content .page-top .title:before {
          content: '';
          background-color: #eaeaea;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: absolute;
          left: -30px;
          top: 15px;
          height: 9px;
          width: 9px; }
    .page-content .page-text {
      padding: 0 30px; }
    .page-content .page-gallery {
      margin-left: -10px;
      padding-top: 86px;
      width: 960px; }
    .page-content .gallery {
      margin-left: -10px;
      width: 960px; }

  .page-contact {
    padding-bottom: 70px;
    width: 300px;
    float: left; }
    .page-contact .top.no-bottom {
      padding-bottom: 0; }
    .page-contact .top .bar {
      -webkit-border-top-left-radius: 34px;
      -webkit-border-top-right-radius: 34px;
      -moz-border-radius-topleft: 34px;
      -moz-border-radius-topright: 34px;
      border-top-left-radius: 34px;
      border-top-right-radius: 34px;
      border-top: 10px solid #eaeaea;
      border-left: 10px solid #eaeaea;
      border-right: 10px solid #eaeaea;
      height: 24px;
      width: 280px; }
    .page-contact .top .header {
      display: none; }
    .page-contact .top .news-list {
      padding: 25px 0 27px 0; }
    .page-contact .top .galleries-list {
      padding: 12px 0; }
    .page-contact .top .offer-list-right {
      padding: 7px 0 33px 0; }
    .page-contact .info {
      padding: 45px 0 0 30px; }
    .page-contact .bottom {
      display: none; }

  .contact {
    padding-bottom: 90px; }
    .contact .team {
      float: left; }
    .contact .right {
      padding-left: 10px;
      float: left; }
      .contact .right .info {
        float: left; }
        .contact .right .info .associate {
          padding-top: 100px; }
      .contact .right .form {
        padding: 0 20px 0 30px;
        width: 580px;
        float: left; }

  footer .top {
    padding: 0 310px 0 0; }
  footer .middle {
    padding: 46px 0 52px 0; }
    footer .middle .menu {
      padding-left: 30px;
      float: left; }
    footer .middle .social {
      padding-right: 30px;
      text-align: right;
      width: 180px;
      float: right; }
      footer .middle .social .title {
        padding-bottom: 16px; }
  footer .bottom {
    padding: 0 0 40px 30px; } }
@media (min-width: 980px) and (max-width: 1299px) {
  .content {
    padding: 0 10px;
    width: 960px; }

  #menu-mobile-container {
    right: -320px;
    width: 320px;
    height: 100%; }

  #menu-mobile-container.visible {
    right: 0; }

  header .content #menu-top {
    display: none; }

  .slider .view .slide {
    height: 555px; }

  .slider .view .slide .full {
    display: none; }

  .slider .view .slide .middle {
    height: 555px; }

  .slider .view .slide .small {
    display: none; }

  .slider .view .slide .content .title {
    padding: 36px 75px 0 125px;
    position: absolute;
    height: 169px;
    width: 374px;
    left: -86px;
    top: 263px; }

  .slider .view .slide .content .title:before {
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #c01cfd;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c01cfd 0%, #ed0757 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c01cfd 0%, #ed0757 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c01cfd 0%, #ed0757 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c01cfd', endColorstr='#ed0757', GradientType=1);
    /* IE6-9 */
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    position: absolute;
    height: 205px;
    width: 574px;
    opacity: 0.7;
    z-index: 1;
    left: 0;
    top: 0; }

  .slider .view .slide .content .title .text {
    font-weight: 700;
    position: relative;
    line-height: 45px;
    font-size: 50px;
    padding: 10px 0;
    color: #ffffff;
    z-index: 2; }

  .slider .main-slider-pager-container .content .main-slider-pager {
    top: 415px;
    left: 32px; }

  .main-content .main-offer {
    padding-top: 70px;
    margin: 0 -10px; }
    .main-content .main-offer .item a .small {
      display: none; }
    .main-content .main-offer .buttons {
      text-align: center;
      padding-top: 10px;
      width: 960px;
      justify-content: flex-start; }
      .main-content .main-offer .buttons a {
        margin: 0 10px;
        width: 290px; }
  .main-content .main-news {
    padding-bottom: 50px; }
    .main-content .main-news .wide-banner {
      margin-top: 45px !important;
      max-width: 620px;
      margin: 0 auto; }
    .main-content .main-news .header {
      padding: 58px 0 50px 30px; }
    .main-content .main-news .item.first {
      padding-bottom: 0;
      width: 620px;
      float: left; }
    .main-content .main-news .other {
      padding: 43px 0 0 20px;
      width: 300px;
      float: left; }
    .main-content .main-news .more-news {
      margin-top: 12px; }

  .main-contact .info {
    padding: 50px 0 0 0; }
    .main-contact .info .phone {
      padding: 0 10px 0 30px;
      width: 270px;
      float: left; }
    .main-contact .info .address {
      padding: 0 10px 0 40px;
      width: 270px;
      float: left; }
    .main-contact .info .hours {
      padding-left: 40px;
      width: 270px;
      float: left; }
  .main-contact .links {
    padding: 48px 0 84px 0;
    width: 960px;
    float: right; }
    .main-contact .links .medium {
      margin: 0 auto; }
    .main-contact .links .small {
      display: none; }

  .page-title {
    padding: 46px 0 49px 30px;
    font-weight: 700;
    line-height: 55px;
    font-size: 45px; }

  .offer-list {
    padding-bottom: 70px; }
    .offer-list .item {
      width: 280px; }
      .offer-list .item .wide {
        display: none; }
      .offer-list .item .mask {
        background: transparent url("../images/offer_mask_small.png") no-repeat left top;
        width: 280px; }

  .news-list {
    padding-bottom: 70px;
    margin: 0 -10px; }

  .gallery-list {
    padding-bottom: 70px;
    margin: 0 -10px; }

  .team-list {
    padding-bottom: 70px;
    margin: 0 -10px; }
    .team-list .item {
      width: 300px;
      float: left; }
      .team-list .item .info {
        height: 299px;
        width: 300px; }
        .team-list .item .info .bottom {
          border-left: 10px solid #eaeaea;
          border-right: 10px solid #eaeaea;
          border-bottom: 10px solid #eaeaea;
          -webkit-border-bottom-right-radius: 34px;
          -webkit-border-bottom-left-radius: 34px;
          -moz-border-radius-bottomright: 34px;
          -moz-border-radius-bottomleft: 34px;
          border-bottom-right-radius: 34px;
          border-bottom-left-radius: 34px;
          position: absolute;
          height: 24px;
          width: 280px;
          bottom: 0;
          right: 0; }
        .team-list .item .info .buttons {
          display: none; }

  .page-content {
    padding: 0 0 70px 10px;
    width: 620px;
    float: right; }
    .page-content .page-top {
      position: absolute;
      width: 590px;
      left: 40px;
      top: -150px; }
      .page-content .page-top .date {
        position: absolute;
        font-weight: 500;
        color: #9224bc;
        line-height: 19px;
        font-size: 15px;
        top: 33px; }
      .page-content .page-top .title {
        position: absolute;
        font-weight: 700;
        line-height: 32px;
        font-size: 30px;
        top: 61px; }
        .page-content .page-top .title:before {
          content: '';
          background-color: #eaeaea;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          position: absolute;
          left: -30px;
          top: 15px;
          height: 9px;
          width: 9px; }
    .page-content .page-text {
      padding: 0 30px; }
    .page-content .page-gallery {
      margin-left: -10px;
      padding-top: 86px;
      width: 640px; }
    .page-content .gallery {
      margin-left: -10px;
      width: 640px; }

  .page-contact {
    padding-bottom: 70px;
    width: 300px;
    float: left; }
    .page-contact .top.no-bottom {
      padding-bottom: 0; }
    .page-contact .top .bar {
      -webkit-border-top-left-radius: 34px;
      -webkit-border-top-right-radius: 34px;
      -moz-border-radius-topleft: 34px;
      -moz-border-radius-topright: 34px;
      border-top-left-radius: 34px;
      border-top-right-radius: 34px;
      border-top: 10px solid #eaeaea;
      border-left: 10px solid #eaeaea;
      border-right: 10px solid #eaeaea;
      height: 24px;
      width: 280px; }
    .page-contact .top .header {
      display: none; }
    .page-contact .top .news-list {
      padding: 25px 0 27px 0; }
    .page-contact .top .galleries-list {
      padding: 12px 0; }
    .page-contact .top .offer-list-right {
      padding: 7px 0 33px 0; }
    .page-contact .info {
      padding: 45px 0 0 30px; }
    .page-contact .bottom {
      display: none; }

  .contact {
    padding-bottom: 70px; }
    .contact .team {
      float: left; }
    .contact .right {
      padding-left: 10px;
      float: left; }
      .contact .right .info .data {
        float: left; }
      .contact .right .info .associate {
        padding: 88px 0 0 40px;
        float: left; }
      .contact .right .form {
        padding: 60px 20px 0 30px;
        width: 580px; }

  footer .middle {
    width: 230px;
    float: right; }
    footer .middle .menu {
      display: none; }
    footer .middle .social {
      padding-top: 36px;
      text-align: right; }
      footer .middle .social .title {
        display: inline-block;
        padding-right: 7px;
        line-height: 41px; }
      footer .middle .social a {
        vertical-align: middle; }
  footer .bottom {
    padding: 48px 0 48px 30px;
    width: 680px;
    float: left; } }
@media (min-width: 660px) and (max-width: 979px) {
  .content {
    padding: 0 10px;
    width: 640px; }

  #menu-mobile-container {
    right: -320px;
    width: 320px;
    height: 100%; }

  #menu-mobile-container.visible {
    right: 0; }

  header .content #menu-top {
    display: none; }

  .slider .view .slide {
    height: 555px; }

  .slider .view .slide .full {
    display: none; }

  .slider .view .slide .middle {
    height: 555px; }

  .slider .view .slide .small {
    display: none; }

  .slider .view .slide .content {
    height: 555px; }

  .slider .view .slide .content .title {
    padding: 36px 160px 0 40px;
    position: absolute;
    height: 169px;
    width: 440px;
    bottom: 0;
    left: 0; }

  .slider .view .slide .content .title:before {
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #c01cfd;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c01cfd 0%, #ed0757 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c01cfd 0%, #ed0757 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c01cfd 0%, #ed0757 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c01cfd', endColorstr='#ed0757', GradientType=1);
    /* IE6-9 */
    position: absolute;
    height: 205px;
    width: 640px;
    opacity: 0.7;
    z-index: 1;
    left: 0;
    top: 0; }

  .slider .view .slide .content .title .text {
    font-weight: 700;
    position: relative;
    line-height: 45px;
    font-size: 50px;
    padding: 10px 0;
    color: #ffffff;
    z-index: 2; }

  .slider .main-slider-pager-container .content .main-slider-pager {
    top: 502px;
    left: 32px; }

  .main-content .main-offer {
    padding-top: 70px;
    margin: 0 -10px; }
    .main-content .main-offer .item a .small {
      display: none; }
    .main-content .main-offer .buttons {
      text-align: center;
      padding-top: 10px;
      width: 640px; }
  .main-content .main-news {
    padding-bottom: 40px; }
    .main-content .main-news .wide-banner {
      margin-top: 30px !important; }
    .main-content .main-news .header {
      padding: 46px 0 50px 30px; }

  .main-contact .info {
    padding: 50px 0 18px 0;
    width: 620px; }
    .main-contact .info .phone {
      padding-left: 30px;
      width: 270px; }
    .main-contact .info .address {
      padding-left: 30px;
      width: 270px; }
    .main-contact .info .hours {
      position: absolute;
      width: 270px;
      top: 50px;
      right: 0; }
  .main-contact .links {
    padding: 0 0 84px 0;
    width: 620px; }
    .main-contact .links .small {
      display: none; }

  .page-title {
    padding: 46px 0 49px 30px;
    font-weight: 700;
    line-height: 55px;
    font-size: 45px; }

  .offer-list {
    padding-bottom: 70px; }
    .offer-list .item {
      width: 600px; }
      .offer-list .item .narrow {
        display: none; }
      .offer-list .item .mask {
        background: transparent url("../images/offer_mask_big.png") no-repeat left top;
        width: 600px; }

  .news-list {
    padding-bottom: 70px;
    margin: 0 -10px; }

  .gallery-list {
    padding-bottom: 70px;
    margin: 0 -10px; }

  .team-list {
    padding-bottom: 70px;
    margin: 0 -10px; }
    .team-list .item {
      width: 620px; }
      .team-list .item .photo {
        float: left; }
      .team-list .item .info {
        padding-left: 20px;
        height: 309px;
        width: 300px;
        float: left; }
        .team-list .item .info .bottom {
          border-right: 10px solid #eaeaea;
          border-bottom: 10px solid #eaeaea;
          -webkit-border-bottom-right-radius: 34px;
          -moz-border-radius-bottomright: 34px;
          border-bottom-right-radius: 34px;
          position: absolute;
          height: 24px;
          width: 290px;
          bottom: 0;
          right: 0; }
        .team-list .item .info .buttons {
          display: none; }

  .page-content {
    padding-bottom: 50px; }
    .page-content .page-top {
      margin-top: -13px;
      padding: 0 0 30px 30px; }
      .page-content .page-top .date {
        font-weight: 500;
        color: #9224bc;
        line-height: 37px;
        font-size: 15px; }
      .page-content .page-top .title {
        font-weight: 700;
        line-height: 32px;
        font-size: 30px; }
    .page-content .page-text {
      padding: 0 30px; }
    .page-content .page-gallery {
      margin-left: -10px;
      padding-top: 76px;
      width: 640px; }
    .page-content .gallery {
      margin-left: -10px;
      width: 640px; }

  .page-contact .top {
    padding-bottom: 0;
    width: 620px; }
    .page-contact .top .bar {
      background-color: #eaeaea;
      height: 10px;
      width: 100%; }
    .page-contact .top .header {
      padding: 33px 0 20px 30px;
      font-weight: 700;
      line-height: 40px;
      font-size: 30px; }
    .page-contact .top .news-list {
      padding: 7px 0 27px 0; }
    .page-contact .top .galleries-list {
      padding-bottom: 50px; }
    .page-contact .top .offer-list-right {
      padding-bottom: 17px; }
      .page-contact .top .offer-list-right .item {
        width: 250px;
        float: left; }
      .page-contact .top .offer-list-right .item:nth-child(odd) {
        padding: 3px 30px 23px 30px; }
      .page-contact .top .offer-list-right .item:nth-child(even) {
        padding: 3px 20px 23px 40px; }
    .page-contact .top .contact {
      display: none; }
    .page-contact .top.page-top {
      display: none; }
  .page-contact .separator {
    background: #eaeaea none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 10px;
    width: 100%; }
  .page-contact .info {
    padding: 50px 30px 18px 30px;
    position: relative; }
    .page-contact .info .phone {
      width: 202px; }
    .page-contact .info .address {
      width: 202px; }
    .page-contact .info .hours {
      position: absolute;
      width: 172px;
      right: 30px;
      top: 50px; }
  .page-contact .bottom {
    padding-bottom: 70px; }
    .page-contact .bottom .small {
      display: none; }

  .contact {
    padding-bottom: 70px; }
    .contact .team {
      display: none; }
    .contact .right .info .data {
      padding: 0 10px 0 30px;
      float: left; }
    .contact .right .info .associate {
      padding: 88px 0 0 30px;
      float: left; }
    .contact .right .form {
      padding: 60px 20px 0 20px;
      width: 580px; }

  footer {
    text-align: center; }
    footer .middle .menu {
      display: none; }
    footer .middle .social {
      padding: 36px 0 26px 0; }
      footer .middle .social .title {
        display: inline-block;
        padding-right: 7px;
        line-height: 41px; }
      footer .middle .social a {
        vertical-align: middle; }
    footer .bottom {
      padding-bottom: 40px; }

  .btn-container {
    clear: both;
    margin-bottom: 20px; } }
@media (max-width: 659px) {
  .content {
    width: 300px; }

  #content-wrapper {
    overflow: visible; }

  #menu-mobile-container {
    width: 100%;
    right: 0; }

  #menu-mobile-container.visible {
    top: 0 !important; }

  #menu-mobile-container .top {
    height: 99px; }

  #menu-mobile-container .top .inner {
    margin: 0 auto;
    width: 300px; }

  #menu-mobile-container .top .inner .close {
    margin: 33px 34px 0 0; }

  #menu-mobile-container #menu-mobile {
    padding: 21px 0 61px 0; }

  #menu-mobile-container #menu-mobile li {
    text-align: center;
    width: 100%; }

  #menu-mobile-container #menu-mobile li a {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    padding: 0 45px; }

  header {
    height: 99px; }

  header .content .logo {
    background: transparent url("../images/logo_mobile.png") no-repeat left top;
    margin: 27px 0 0 19px;
    height: 46px;
    width: 106px; }

  header .content #menu-top {
    display: none; }

  header .content .show-menu {
    padding: 13px 10px 8px 10px;
    margin: 19px 20px 0 0;
    border: 5px solid #eaeaea;
    height: 30px;
    width: 31px;
    float: right; }

  header .content .show-menu .icon-bar {
    margin-bottom: 4px;
    width: 31px;
    height: 6px; }

  .slider .view .slide {
    height: 447px; }

  .slider .view .slide .full {
    display: none; }

  .slider .view .slide .middle {
    display: none; }

  .slider .view .slide .small {
    height: 277px; }

  .slider .view .slide .content {
    position: absolute;
    height: 170px;
    width: 100%;
    top: 277px; }

  .slider .view .slide .content:before {
    content: '';
    background-color: #c31bf3;
    position: absolute;
    height: 170px;
    z-index: 1;
    width: 50%;
    right: 50%;
    top: 0; }

  .slider .view .slide .content:after {
    content: '';
    background-color: #e40b76;
    position: absolute;
    height: 170px;
    z-index: 1;
    width: 50%;
    left: 50%;
    top: 0; }

  .slider .view .slide .content .title {
    position: relative;
    padding-top: 29px;
    margin: 0 auto;
    height: 141px;
    width: 300px;
    z-index: 2; }

  .slider .view .slide .content .title:before {
    content: '';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d55ff7+0,ed549f+100 */
    background: #c31bf3;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c31bf3 0%, #e40b76 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c31bf3 0%, #e40b76 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c31bf3 0%, #e40b76 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c31bf3', endColorstr='#e40b76', GradientType=1);
    /* IE6-9 */
    position: absolute;
    height: 170px;
    width: 300px;
    z-index: 1;
    left: 0;
    top: 0; }

  .slider .view .slide .content .title .text {
    font-weight: 700;
    position: relative;
    line-height: 29px;
    font-size: 30px;
    padding: 10px 0;
    color: #ffffff;
    z-index: 2; }

  .slider .main-slider-pager-container .content .main-slider-pager {
    top: 392px;
    left: -7px; }

  .main-content .main-offer {
    padding-top: 30px; }
    .main-content .main-offer .item {
      padding: 13px 50px 13px 0;
      float: none; }
      .main-content .main-offer .item a {
        background: transparent !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        height: 46px;
        padding: 0; }
        .main-content .main-offer .item a .big {
          display: none; }
        .main-content .main-offer .item a:hover {
          background: transparent !important; }
          .main-content .main-offer .item a:hover .small .title {
            color: #9224bc; }
    .main-content .main-offer .buttons {
      padding-top: 20px; }
      .main-content .main-offer .buttons a {
        margin-bottom: 20px;
        text-align: center; }
  .main-content .main-news {
    padding-bottom: 25px; }
    .main-content .main-news .wide-banner {
      margin-top: 25px; }
    .main-content .main-news .header {
      padding: 30px 0 20px 0;
      line-height: 40px;
      font-size: 30px; }
    .main-content .main-news .item {
      padding: 0 0 17px 0; }
      .main-content .main-news .item .photo {
        display: none; }
      .main-content .main-news .item .date {
        line-height: 20px; }
      .main-content .main-news .item .title {
        font-size: 16px; }
      .main-content .main-news .item .rest {
        padding: 0; }
        .main-content .main-news .item .rest .date {
          line-height: 26px; }
        .main-content .main-news .item .rest .title {
          line-height: 24px;
          font-size: 23px; }
        .main-content .main-news .item .rest .text {
          padding-top: 10px;
          font-size: 13px; }
      .main-content .main-news .item.first {
        padding: 0 0 30px 0; }
    .main-content .main-news .more-news {
      margin: 11px 0 0 0; }

  .main-contact .info {
    padding: 36px 0 48px 0; }
  .main-contact .links {
    padding: 0 0 68px 0; }
    .main-contact .links .medium {
      display: none; }

  .page-title {
    font-weight: 700;
    padding: 33px 0 32px 0;
    line-height: 40px;
    font-size: 30px; }

  .offer-list {
    padding-bottom: 40px; }
    .offer-list .item {
      width: 280px; }
      .offer-list .item .wide {
        display: none; }
      .offer-list .item .mask {
        background: transparent url("../images/offer_mask_small.png") no-repeat left top;
        width: 280px; }

  .news-list {
    padding-bottom: 40px; }
    .news-list .news-feed .item {
      margin: 10px 0; }

  .gallery-list {
    padding-bottom: 40px; }
    .gallery-list .item {
      margin: 10px 0; }

  .team-list {
    padding-bottom: 40px; }
    .team-list .item {
      margin: 0 0 20px 0;
      width: 300px;
      float: left; }
      .team-list .item .info {
        padding-bottom: 61px;
        width: 300px; }
        .team-list .item .info .text {
          -webkit-transition: all 1s ease-in-out 0s;
          -moz-transition: all 1s ease-in-out 0s;
          -o-transition: all 1s ease-in-out 0s;
          transition: all 1s ease-in-out 0s;
          box-sizing: border-box;
          overflow: hidden;
          padding: 0 30px;
          max-height: 0; }
        .team-list .item .info .bottom {
          border-left: 10px solid #eaeaea;
          border-right: 10px solid #eaeaea;
          border-bottom: 10px solid #eaeaea;
          -webkit-border-bottom-right-radius: 34px;
          -webkit-border-bottom-left-radius: 34px;
          -moz-border-radius-bottomright: 34px;
          -moz-border-radius-bottomleft: 34px;
          border-bottom-right-radius: 34px;
          border-bottom-left-radius: 34px;
          position: absolute;
          height: 24px;
          width: 280px;
          bottom: 16px;
          right: 0; }
        .team-list .item .info .buttons .hide-person {
          display: none; }
        .team-list .item .info.visible .text {
          padding: 23px 30px 33px 30px;
          max-height: 400px; }
        .team-list .item .info.visible .buttons .hide-person {
          display: inline-block; }
        .team-list .item .info.visible .buttons .show-person {
          display: none; }

  .page-content {
    padding-bottom: 50px; }
    .page-content .page-top {
      margin-top: -13px;
      padding-bottom: 29px; }
      .page-content .page-top .date {
        font-weight: 500;
        color: #9224bc;
        line-height: 29px;
        font-size: 15px; }
      .page-content .page-top .title {
        font-weight: 700;
        line-height: 24px;
        font-size: 20px; }
    .page-content .page-text .photo {
      margin: 0 0 20px 0;
      float: none; }
    .page-content .page-gallery {
      margin-left: -10px;
      padding-top: 44px;
      width: 300px; }
    .page-content .gallery {
      margin-left: -10px;
      width: 300px; }

  .page-contact .top {
    padding-bottom: 0; }
    .page-contact .top .bar {
      background-color: #eaeaea;
      height: 10px;
      width: 100%; }
    .page-contact .top .header {
      font-weight: 700;
      padding: 30px 0 14px 0;
      line-height: 27px;
      font-size: 21px; }
    .page-contact .top .news-list {
      padding: 8px 0 16px 0; }
      .page-contact .top .news-list .item {
        padding: 0 0 17px 0; }
        .page-contact .top .news-list .item .date {
          line-height: 20px; }
        .page-contact .top .news-list .item .title {
          line-height: 20px;
          font-size: 16px; }
    .page-contact .top .galleries-list {
      padding-bottom: 35px; }
      .page-contact .top .galleries-list .link {
        padding: 7px 0 8px 0; }
        .page-contact .top .galleries-list .link a {
          line-height: 20px;
          font-size: 16px; }
    .page-contact .top .offer-list-right {
      padding-bottom: 17px; }
      .page-contact .top .offer-list-right .item {
        padding: 13px 50px 13px 0; }
    .page-contact .top .contact {
      display: none; }
    .page-contact .top.page-top {
      display: none; }
  .page-contact .separator {
    background: #eaeaea none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 10px;
    width: 100%; }
  .page-contact .info {
    padding: 36px 0 48px 0; }
  .page-contact .bottom {
    padding-bottom: 70px; }
    .page-contact .bottom .medium {
      display: none; }

  .contact {
    padding-bottom: 50px; }
    .contact .team {
      display: none; }
    .contact .right .info .data {
      padding: 0;
      width: 300px; }
      .contact .right .info .data .name-top {
        font-size: 20px; }
      .contact .right .info .data .name-bottom {
        padding: 0 0 22px 0;
        font-size: 18px; }
    .contact .right .info .associate {
      padding: 40px 0 0 0; }
    .contact .right .form {
      padding: 54px 0 0 0;
      width: 300px; }
      .contact .right .form .header {
        padding: 0 0 16px 0; }
      .contact .right .form .form-row {
        padding-bottom: 0; }
        .contact .right .form .form-row .form-field {
          padding: 0 0 15px 0; }
        .contact .right .form .form-row.two-columns .form-field {
          float: none;
          width: 100%; }

  .map {
    display: none; }

  footer {
    text-align: center; }
    footer .top {
      padding: 0 10px 0 0; }
    footer .middle .menu {
      display: none; }
    footer .middle .social {
      padding: 36px 0 22px 0; }
      footer .middle .social .title {
        display: inline-block;
        padding-right: 7px;
        line-height: 41px; }
      footer .middle .social a {
        vertical-align: middle; }
    footer .bottom .copyright {
      padding-bottom: 15px;
      line-height: 15px; }
      footer .bottom .copyright span {
        display: block; }
    footer .bottom .implementation {
      padding-bottom: 40px;
      line-height: 20px; }
      footer .bottom .implementation span {
        line-height: 20px;
        display: block; }

  .price-table ul li {
    padding-top: 0; }
    .price-table ul li:after {
      display: none; }
    .price-table ul li div {
      width: 100%; }
    .price-table ul li .price {
      font-size: 15px;
      margin-top: 5px;
      max-width: 100%; }

  .btn-container {
    margin-bottom: 20px; } }
.main-offer-btn {
  width: 280px !important; }
  .main-offer-btn:before {
    width: 290px !important; }
  .main-offer-btn a {
    width: 280px !important; }

/*# sourceMappingURL=style.css.map */
