{% extends '::frontend.html.twig' %}

{% block title %}Oferta - {{ parent() }}{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Oferta</h1>
        <div class="offer-list">
            {% include "LsOfferBundle:Front:list.html.twig" with {'entities': entities} %}
        </div>
    </div>
{% endblock %}