{% for entity in entities %}
    <a class="item" href="{{ path('ls_offer_show', {'slug': entity.slug}) }}">
        <img class="narrow" src="{{ entity.getThumbListWebPath('list_narrow') }}?{{ random(10000) }}" />
        <img class="wide" src="{{ entity.getThumbListWebPath('list_wide') }}?{{ random(10000) }}" />
        <div class="mask"></div>
        <div class="info">
            <img class="icon" src="{{ entity.getIconWhiteWebPath() }}?{{ random(10000) }}" />
            <div class="text">{{ entity.title }}</div>
        </div>
    </a>
{% endfor %}
<div class="clear"></div>
<div class="btn-container main-offer-btn">
    <a class="grey-rounded-btn" href="{{ path('ls_price_list') }}">Cennik usług</a>
</div>

