{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

<div class="header">Zapisz się na wizytę</div>
{{ form_start(form, {'attr': {'id': 'form-contact', 'onsubmit': 'return submitContact();', 'novalidate': 'novalidate' }}) }}
<div class="form-row two-columns">
    <div class="form-field">
        {{ form_label(form.name) }}
        <div class="form-widget form-contact-name">{{ form_widget(form.name) }}</div>
    </div>
    <div class="form-field">
        {{ form_label(form.email) }}
        <div class="form-widget form-contact-email">{{ form_widget(form.email) }}</div>
    </div>
    <div class="clear"></div>
</div>
<div class="form-row two-columns">
    <div class="form-field">
        {{ form_label(form.phone) }}
        <div class="form-widget form-contact-phone">{{ form_widget(form.phone) }}</div>
    </div>
    <div class="form-field">
        {{ form_label(form.appointment) }}
        <div class="form-widget form-contact-appointment">{{ form_widget(form.appointment, {'attr': {'class': 'datepicker', 'autocomplete': 'off' }}) }}</div>
    </div>
    <div class="clear"></div>
</div>
<div class="form-row">
    <div class="form-field">
        {{ form_label(form.content) }}
        <div class="form-widget form-contact-content">{{ form_widget(form.content) }}</div>
    </div>
    <div class="clear"></div>
</div>
<div class="form-row">
    <div class="form-buttons">
        {{ form_widget(form.submit) }}
    </div>
</div>
{{ form_end(form) }}
