{% extends '::frontend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Kontakt</h1>
        <div class="contact">
            <div class="team">
                <a href="{{ path('ls_person') }}">Poznaj nasz zespół</a>
            </div>
            <div class="right">
                <div class="info">
                    <div class="data">
                        <div class="name-top">{{ cms_config.get('contact_firm_name_top', '') }}</div>
                        <div class="name-bottom">{{ cms_config.get('contact_firm_name_bottom', '') }}</div>
                        <div class="phone">
                            <div class="normal">{{ cms_config.get('contact_phone', '') }}</div>
                            <div class="cellphone"><span>kom.</span> {{ cms_config.get('contact_cellphone', '') }}</div>
                        </div>
                        <div class="address">{{ cms_config.get('contact_address', '') }}</div>
                        <div class="hours">
                            <div class="header">Godziny otwarcia</div>
                            <div class="value">
                                <div class="day">pon - pt</div>
                                <div class="hour">{{ cms_config.get('contact_opening_hours_1', '') }}</div>
                            </div>
                            <div class="value">
                                <div class="day">sobota</div>
                                <div class="hour">{{ cms_config.get('contact_opening_hours_2', '') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="associate">
                        <div class="header">Akceptujemy:</div>
                        <img src="{{ asset('bundles/lscore/front/images/mastercard.png') }}" alt="MasterCard" />
                        <img src="{{ asset('bundles/lscore/front/images/visa.png') }}" alt="Visa" />
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="form">
                    <div class="header">Zapisz się na wizytę</div>
                    {{ form_start(form, {'attr': {'id': 'form-contact', 'onsubmit': 'return submitContact();', 'novalidate': 'novalidate' }}) }}
                    <div class="form-row two-columns">
                        <div class="form-field">
                            {{ form_label(form.name) }}
                            <div class="form-widget form-contact-name">{{ form_widget(form.name) }}</div>
                        </div>
                        <div class="form-field">
                            {{ form_label(form.email) }}
                            <div class="form-widget form-contact-email">{{ form_widget(form.email) }}</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="form-row two-columns">
                        <div class="form-field">
                            {{ form_label(form.phone) }}
                            <div class="form-widget form-contact-phone">{{ form_widget(form.phone) }}</div>
                        </div>
                        <div class="form-field">
                            {{ form_label(form.appointment) }}
                            <div class="form-widget form-contact-appointment">{{ form_widget(form.appointment, {'attr': {'class': 'datepicker', 'autocomplete': 'off' }}) }}</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-field">
                            {{ form_label(form.content) }}
                            <div class="form-widget form-contact-content">{{ form_widget(form.content) }}</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-buttons">
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div id="map" class="map"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/common/jquery-ui-1.11.4/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/jquery.ui.datepicker-pl.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/qtip-2.2.1/jquery.qtip.min.js') }}" type="text/javascript"></script>
    <script src="http://maps.google.com/maps/api/js" type="text/javascript"></script>
    <script type="text/javascript">
        var map = {
            address: '',
            cords: null,
            geocoder: null,
            mapOptions: null,
            object: null
        };

        $(document).ready(function () {
            $('.datepicker').datepicker($.extend({}, {
                changeMonth: true,
                showOn: "both"
            }, $.datepicker.regional["pl"], {
                dateFormat: "dd.mm.yy"
            }));
        });

        function initialize() {
            map.address = '{{ cms_config.get('contact_address', '') }}';

            map.geocoder = new google.maps.Geocoder();
            map.mapOptions = {
                zoom: 14,
                panControl: false,
                zoomControl: true,
                scrollwheel: false,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map.object = new google.maps.Map(document.getElementById('map'), map.mapOptions);

            map.geocoder.geocode({
                'address': map.address
            }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    map.cords = results[0].geometry.location;

                    map.object.setCenter(map.cords);

                    new google.maps.Marker({
                        position: map.cords,
                        map: map.object,
                        icon: '{{ asset('bundles/lscore/front/images/marker.png') }}',
                        title: '{{ cms_config.get('contact_firm_name_top', '') }} {{ cms_config.get('contact_firm_name_bottom', '') }}'
                    });
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        google.maps.event.addDomListener(window, 'resize', function() {
            map.object.setCenter(map.cords);
        });

        function submitContact() {
            $('div[id^="qtip-"]').each(function () {
                _qtip2 = $(this).data("qtip");
                if (_qtip2 != undefined) {
                    _qtip2.destroy(true);
                }
            });

            var form = $('#form-contact');
            var data = form.serialize();
            var url = form.attr('action');
            $.ajax({
                type: "post",
                url: url,
                data: data,
                success: function (response) {
                    console.log(response);
                    if (response.result == 'OK') {
                        $('.contact-form-container').html(response.form);

                        alert('Twoja wiadomość została wysłana.')
                    } else {
                        for (var error in response.errors) {
                            $('.form-contact-' + error).qtip({
                                content: {
                                    title: null,
                                    text: response.errors[error]
                                },
                                position: {
                                    my: 'bottom right',
                                    at: 'top right',
                                    adjust: {
                                        x: -20
                                    }
                                },
                                show: {
                                    ready: true,
                                    event: false
                                },
                                hide: {
                                    event: 'click focus unfocus'
                                },
                                style: {
                                    classes: 'qtip-red qtip-rounded qtip-shadow'
                                }
                            });
                        }
                    }
                }
            });

            return false;
        }
    </script>
{% endblock %}
